In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('cluster.csv')

In [3]:
data.head()

,G_ID,T_ID,TB_SC,WLS,cluster_team_hit,cluster_team_pit,hit_f1,hit_f2,hit_f3,pit_f1,pit_f2,pit_f3,pit_f4
0,20160401HHLG0,HH,T,L,1,2,3.246649,-0.672442,0.381691,3.257575,1.922055,-0.487703,0.570372
1,20160402HHLG0,HH,T,L,1,2,1.916625,-1.703314,0.501447,-0.109634,2.675800,-1.352436,0.990402
2,20160405WOHH0,HH,B,W,1,2,0.486276,-2.875870,0.584646,-0.112498,3.966649,-1.334058,-0.153833
3,20160406WOHH0,HH,B,L,1,2,-0.270843,-0.113845,-0.067797,0.104077,4.892921,-2.322669,0.605231
4,20160407WOHH0,HH,B,L,1,2,-0.529489,1.215862,0.112625,0.576330,4.565678,-0.419101,0.877013

In [4]:
data['T'] = None
data['B'] = None

In [5]:
for i in range(data.shape[0]):
    data.iloc[i, 13] = data.iloc[i, 0][8:10]
    data.iloc[i, 14] = data.iloc[i, 0][10:12]

In [6]:
data = pd.concat([data, pd.get_dummies(data['T'], prefix='T', drop_first=True)], axis=1)
data = pd.concat([data, pd.get_dummies(data['B'], prefix='B', drop_first=True)], axis=1)
data = pd.concat([data, pd.get_dummies(data['TB_SC'], drop_first=True)], axis=1)
data = pd.concat([data, pd.get_dummies(data['cluster_team_hit'], prefix='HIT', drop_first=True)], axis=1)
data = pd.concat([data, pd.get_dummies(data['cluster_team_pit'], prefix='PIT', drop_first=True)], axis=1)

In [7]:
data = data.drop(['G_ID', 'T_ID', 'TB_SC', 'cluster_team_hit', 'cluster_team_pit', 'T', 'B'], axis=1)

In [8]:
data.head()

,WLS,hit_f1,hit_f2,hit_f3,pit_f1,pit_f2,pit_f3,pit_f4,T_HT,T_KT,...,B_KT,B_LG,B_LT,B_NC,B_OB,B_SK,B_SS,B_WO,HIT_1,PIT_2
0,L,3.246649,-0.672442,0.381691,3.257575,1.922055,-0.487703,0.570372,0,0,...,0,1,0,0,0,0,0,0,1,1
1,L,1.916625,-1.703314,0.501447,-0.109634,2.675800,-1.352436,0.990402,0,0,...,0,1,0,0,0,0,0,0,1,1
2,W,0.486276,-2.875870,0.584646,-0.112498,3.966649,-1.334058,-0.153833,0,0,...,0,0,0,0,0,0,0,0,1,1
3,L,-0.270843,-0.113845,-0.067797,0.104077,4.892921,-2.322669,0.605231,0,0,...,0,0,0,0,0,0,0,0,1,1
4,L,-0.529489,1.215862,0.112625,0.576330,4.565678,-0.419101,0.877013,0,0,...,0,0,0,0,0,0,0,0,1,1

In [9]:
X_train = data.iloc[:1250, 1:]
y_train = data.iloc[:1250, 0]
X_test = data.iloc[1250:, 1:]
y_test = data.iloc[1250:, 0]

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
model = RandomForestClassifier(random_state=0)

In [12]:
model.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [13]:
y_pred = model.predict(X_test)

In [14]:
print('예측 정확도:', round(sum(y_pred == y_test)/len(y_pred == y_test), 3))

예측 정확도: 0.879