In [1]:
import pandas as pd

In [2]:
schedule = pd.read_csv('schedule.csv')

In [3]:
schedule['T'] = None
schedule['B'] = None

In [4]:
for i in range(schedule.shape[0]):
    schedule.iloc[i, 4] = schedule.iloc[i, 2].split('vs')[0]
    schedule.iloc[i, 5] = schedule.iloc[i, 2].split('vs')[1]

In [5]:
for i in range(schedule.shape[0]):
    schedule.iloc[i, 0] = '2020.' + schedule.iloc[i, 0][:5]
    schedule.iloc[i, 0] = schedule.iloc[i, 0].replace('.', '')

In [6]:
name = {'NC':'NC', '두산':'OB', '키움':'WO', 'KIA':'HT', 'LG':'LG',
       '삼성':'SS', 'KT':'KT', '롯데':'LT', 'SK':'SK', '한화':'HH'}

f = lambda x: name.get(x, x)
schedule['T'] = schedule['T'].map(f)
schedule['B'] = schedule['B'].map(f)

In [7]:
schedule = pd.DataFrame(schedule['date'] + schedule['T'] + schedule['B'], columns=['G_ID'])

In [8]:
for i in schedule[schedule.duplicated(['G_ID'], keep=False) == True].index:
    schedule.iloc[i, 0] = schedule.iloc[i, 0] + '1'
for i in schedule[schedule.duplicated(['G_ID'], keep=False) == False].index:
    schedule.iloc[i, 0] = schedule.iloc[i, 0] + '0'

In [9]:
schedule['TEAM'] = None
schedule['TB_SC'] = None

In [10]:
schedule_B  = schedule.copy()

In [11]:
for i in range(schedule.shape[0]):
    schedule.iloc[i, 1] = schedule.iloc[i, 0][8:10]
    schedule.iloc[i, 2] = 'T'
for i in range(schedule_B.shape[0]):
    schedule_B.iloc[i, 1] = schedule_B.iloc[i, 0][10:12]
    schedule_B.iloc[i, 2] = 'B'

In [12]:
schedule_m = pd.concat([schedule, schedule_B]).reset_index(drop=True)

In [13]:
schedule_m

              G_ID TEAM TB_SC
0    20200929LTLG0   LT     T
1    20200929KTSS0   KT     T
2    20200929SKNC0   SK     T
3    20200929HTWO0   HT     T
4    20200929OBHH0   OB     T
..             ...  ...   ...
183  20201018HTLG0   LG     B
184  20201018KTSK0   SK     B
185  20201018LTNC0   NC     B
186  20201018OBWO0   WO     B
187  20201018SSHH0   HH     B

[188 rows x 3 columns]

In [14]:
schedule_m.to_csv('schedule_m.csv', index=False)