In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('cluster.csv')

In [3]:
data = data.sort_values(['G_ID']).reset_index(drop=True)

In [4]:
data.head()

,G_ID,T_ID,TB_SC,WLS,cluster_team_hit,cluster_team_pit,hit_f1,hit_f2,hit_f3,pit_f1,pit_f2,pit_f3,pit_f4
0,20160401HHLG0,HH,T,L,1,2,3.246649,-0.672442,0.381691,3.257575,1.922055,-0.487703,0.570372
1,20160401HHLG0,LG,B,W,1,2,3.911625,3.908232,0.584086,1.628395,-1.852215,-4.780953,0.165376
2,20160401HTNC0,HT,T,L,0,2,1.241272,3.745046,-0.019960,-1.833570,2.154450,2.406045,-0.540537
3,20160401HTNC0,NC,B,W,0,1,-4.395091,1.595850,-0.651251,2.606790,0.850158,0.117356,0.240472
4,20160401KTSK0,KT,T,W,1,2,-1.585208,-0.252571,0.096828,3.459719,-5.017508,0.694972,0.116226

In [5]:
data['T'] = None
data['B'] = None

In [6]:
for i in range(data.shape[0]):
    data.iloc[i, 13] = data.iloc[i, 0][8:10]
    data.iloc[i, 14] = data.iloc[i, 0][10:12]

In [7]:
data = pd.concat([data, pd.get_dummies(data['T'], prefix='T', drop_first=True)], axis=1)
data = pd.concat([data, pd.get_dummies(data['B'], prefix='B', drop_first=True)], axis=1)
data = pd.concat([data, pd.get_dummies(data['TB_SC'], drop_first=True)], axis=1)
data = pd.concat([data, pd.get_dummies(data['cluster_team_hit'], prefix='HIT', drop_first=True)], axis=1)
data = pd.concat([data, pd.get_dummies(data['cluster_team_pit'], prefix='PIT', drop_first=True)], axis=1)

In [8]:
data = data.drop(['G_ID', 'T_ID', 'TB_SC', 'cluster_team_hit', 'cluster_team_pit', 'T', 'B'], axis=1)

In [9]:
data.head()

,WLS,hit_f1,hit_f2,hit_f3,pit_f1,pit_f2,pit_f3,pit_f4,T_HT,T_KT,...,B_KT,B_LG,B_LT,B_NC,B_OB,B_SK,B_SS,B_WO,HIT_1,PIT_2
0,L,3.246649,-0.672442,0.381691,3.257575,1.922055,-0.487703,0.570372,0,0,...,0,1,0,0,0,0,0,0,1,1
1,W,3.911625,3.908232,0.584086,1.628395,-1.852215,-4.780953,0.165376,0,0,...,0,1,0,0,0,0,0,0,1,1
2,L,1.241272,3.745046,-0.019960,-1.833570,2.154450,2.406045,-0.540537,1,0,...,0,0,0,1,0,0,0,0,0,1
3,W,-4.395091,1.595850,-0.651251,2.606790,0.850158,0.117356,0.240472,1,0,...,0,0,0,1,0,0,0,0,0,0
4,W,-1.585208,-0.252571,0.096828,3.459719,-5.017508,0.694972,0.116226,0,1,...,0,0,0,0,0,1,0,0,1,1

In [10]:
X_train = data.iloc[:1250, 1:]
y_train = data.iloc[:1250, 0]
X_test = data.iloc[1250:, 1:]
y_test = data.iloc[1250:, 0]

In [11]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
model = RandomForestClassifier(random_state=0)

In [13]:
model.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [14]:
y_pred = model.predict(X_test)

In [15]:
print('예측 정확도:', round(sum(y_pred == y_test)/len(y_pred == y_test), 3))

예측 정확도: 0.853