In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_16 = pd.read_csv('hitter_wanted_2016.csv', header=0)
df_17 = pd.read_csv('hitter_wanted_2017.csv', header=0)
df_18 = pd.read_csv('hitter_wanted_2018.csv', header=0)
df_19 = pd.read_csv('hitter_wanted_2019.csv', header=0)
df_20 = pd.read_csv('hitter_wanted_2020.csv', header=0)

In [3]:
df_16.drop(['Unnamed: 0'], axis=1, inplace=True)
df_17.drop(['Unnamed: 0'], axis=1, inplace=True)
df_18.drop(['Unnamed: 0'], axis=1, inplace=True)
df_19.drop(['Unnamed: 0'], axis=1, inplace=True)
df_20.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
def preprocessing(data):
    data_count = data.groupby('P_ID').count().reset_index()
    data_count = data_count[['P_ID', 'PA']]
    data = pd.merge(data, data_count, on = ['P_ID'])
    data.rename(columns={'PA_x':'PA', 'PA_y':'count'}, inplace=True)
    data = data.query('count==1')
    return(data)

In [5]:
df_16 = preprocessing(df_16)
df_17 = preprocessing(df_17)
df_18 = preprocessing(df_18)
df_19 = preprocessing(df_19)
df_20 = preprocessing(df_20)

In [9]:
df_16.drop(['PA'],axis=1,inplace=True)

In [10]:
pd.merg

      P_ID T_ID       AVG      IsoP       OPS        XR     BABIP  count
0    60404   HH  0.085859  0.000000  0.194444  0.250582  0.095960      1
1    61102   LG  0.210500  0.085167  0.575667  0.314046  0.222667      1
2    61186   LG  0.297087  0.159223  0.823948  0.322928  0.310680      1
3    62164   LG  0.194940  0.164583  0.714881  0.314821  0.219940      1
4    62700   HH  0.279565  0.136087  0.746667  0.330335  0.345652      1
..     ...  ...       ...       ...       ...       ...       ...    ...
372  66609   HT  0.000000  0.000000  0.000000  0.257002  0.000000      1
373  97336   HT  0.000000  0.000000  0.000000  0.257002  0.000000      1
374  65120   LG  0.000000  0.000000  0.000000  0.240857  0.000000      1
375  97109   LG  1.000000  0.000000  2.000000  0.339374  1.000000      1
376  66469   SS  0.333333  0.000000  0.833333  0.364415  0.500000      1

[377 rows x 8 columns]

In [7]:
df_16['P_ID']

0      60404
1      61102
2      61186
3      62164
4      62700
       ...
372    66609
373    97336
374    65120
375    97109
376    66469
Name: P_ID, Length: 377, dtype: int64

In [8]:
df_17['P_ID']

0      61700
1      62234
2      62768
3      66209
4      66244
       ...
347    67893
348    66162
349    60263
350    63903
351    77452
Name: P_ID, Length: 352, dtype: int64