In [1]:
import numpy as np
import pandas as pd

In [2]:
pitcher= pd.read_csv('pitcher_scaled_revised.csv')
hitter= pd.read_csv('hitter_scaled.csv')

In [3]:
pitcher.head()

,Unnamed: 0,G_ID,GDAY_DS,T_ID,VS_T_ID,CG_CK,WLS,HOLD,INN2,BF,...,P2_WHIP_RT,CB_WHIP_RT,K/BB,OOPS,WHIP,BABIP,kFIP,HEADER_NO_1,HEADER_NO_2,TB_SC_T
0,0,20160401HHLG0,20160401,LG,HH,0,W,0,36,184,...,0.061224,0.200000,0.238095,0.652618,0.295302,0.361111,0.100408,0,0,0
1,1,20160401HHLG0,20160401,HH,LG,0,L,0,34,196,...,0.047619,0.062500,0.196429,0.615942,0.250296,0.266667,0.186543,0,0,1
2,2,20160401HTNC0,20160401,NC,HT,0,W,0,27,143,...,0.049451,0.178571,0.238095,0.727554,0.268456,0.304348,0.214354,0,0,0
3,3,20160401HTNC0,20160401,HT,NC,0,L,0,24,147,...,0.080745,0.156250,0.128571,0.966667,0.395973,0.368421,0.365714,0,0,1
4,4,20160401KTSK0,20160401,SK,KT,0,L,0,27,151,...,0.112245,0.187500,0.125000,0.853175,0.375839,0.321429,0.350408,0,0,0

In [6]:
hitter.head()

,Unnamed: 0,G_ID,GDAY_DS,T_ID,VS_T_ID,PA,AB,RBI,RUN,HIT,...,P_HRA_RT,P_AB_CN,P_HIT_CN,IsoP,OPS,XR,BABIP,HEADER_NO_1,HEADER_NO_2,TB_SC_T
0,0,20160401HHLG0,20160401,HH,LG,0.729167,0.884615,4,4,0.250000,...,0.200000,15,3,0.043478,0.652618,0.287095,0.361111,0,0,1
1,1,20160402HHLG0,20160402,HH,LG,0.687500,0.860000,7,7,0.260000,...,0.333333,15,5,0.093023,0.770349,0.342463,0.382353,0,0,1
2,2,20160405WOHH0,20160405,HH,WO,0.500000,0.853659,8,9,0.317073,...,0.428571,14,6,0.114286,0.924739,0.396824,0.371429,0,0,0
3,3,20160406WOHH0,20160406,HH,WO,0.395833,0.972222,4,4,0.305556,...,0.222222,9,2,0.257143,0.885714,0.330365,0.321429,0,0,0
4,4,20160407WOHH0,20160407,HH,WO,0.479167,0.975000,3,3,0.300000,...,0.181818,11,2,0.205128,0.837821,0.349689,0.370370,0,0,0

In [7]:
pitcher=pitcher.drop(['Unnamed: 0'],axis=1)
hitter=hitter.drop(['Unnamed: 0'],axis=1)

In [8]:
pitcher.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'CG_CK', 'WLS', 'HOLD', 'INN2',
       'BF', 'PA', 'AB', 'HIT', 'H1', 'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF',
       'BB', 'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'ERR', 'R', 'ER', 'P_WHIP_RT',
       'P2_WHIP_RT', 'CB_WHIP_RT', 'K/BB', 'OOPS', 'WHIP', 'BABIP', 'kFIP',
       'HEADER_NO_1', 'HEADER_NO_2', 'TB_SC_T'],
      dtype='object')

In [9]:
hitter.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'PA', 'AB', 'RBI', 'RUN', 'HIT',
       'H1', 'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK',
       'GD', 'ERR', 'LOB', 'P_HRA_RT', 'P_AB_CN', 'P_HIT_CN', 'IsoP', 'OPS',
       'XR', 'BABIP', 'HEADER_NO_1', 'HEADER_NO_2', 'TB_SC_T'],
      dtype='object')

In [10]:
hitter_ERR=hitter[['G_ID', 'GDAY_DS', 'T_ID','ERR']]
hitter_ERR.columns=['G_ID', 'GDAY_DS', 'T_ID','Hitter_ERR']

In [11]:
pitcher.columns=['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'CG_CK', 'WLS', 'HOLD', 'INN2',
       'BF', 'PA', 'AB', 'HIT', 'H1', 'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF',
       'BB', 'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'Pitcher_ERR', 'R', 'ER', 'P_WHIP_RT',
       'P2_WHIP_RT', 'CB_WHIP_RT', 'K/BB', 'OOPS', 'WHIP', 'BABIP', 'kFIP',
       'HEADER_NO_1', 'HEADER_NO_2', 'TB_SC_T']

In [12]:
L_runs=pd.merge(pitcher,hitter_ERR)

In [13]:
L_runs

,G_ID,GDAY_DS,T_ID,VS_T_ID,CG_CK,WLS,HOLD,INN2,BF,PA,...,CB_WHIP_RT,K/BB,OOPS,WHIP,BABIP,kFIP,HEADER_NO_1,HEADER_NO_2,TB_SC_T,Hitter_ERR
0,20160401HHLG0,20160401,LG,HH,0,W,0,36,184,0.729167,...,0.200000,0.238095,0.652618,0.295302,0.361111,0.100408,0,0,0,0.0
1,20160401HHLG0,20160401,HH,LG,0,L,0,34,196,0.625000,...,0.062500,0.196429,0.615942,0.250296,0.266667,0.186543,0,0,1,0.4
2,20160401HTNC0,20160401,NC,HT,0,W,0,27,143,0.437500,...,0.178571,0.238095,0.727554,0.268456,0.304348,0.214354,0,0,0,0.2
3,20160401HTNC0,20160401,HT,NC,0,L,0,24,147,0.395833,...,0.156250,0.128571,0.966667,0.395973,0.368421,0.365714,0,0,1,0.0
4,20160401KTSK0,20160401,SK,KT,0,L,0,27,151,0.520833,...,0.187500,0.125000,0.853175,0.375839,0.321429,0.350408,0,0,0,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6395,20200719LTSS0,20200719,LT,SS,0,W,2,27,155,0.354167,...,0.125000,0.214286,0.616698,0.241611,0.285714,0.187034,0,0,1,0.0
6396,20200719OBHT0,20200719,HT,OB,0,L,0,27,137,0.500000,...,0.062500,0.142857,0.825313,0.322148,0.312500,0.241456,0,0,0,0.0
6397,20200719OBHT0,20200719,OB,HT,0,W,1,27,177,0.437500,...,0.156250,0.059524,0.680921,0.348993,0.296296,0.180231,0,0,1,0.0
6398,20200719WOSK0,20200719,SK,WO,0,W,0,27,134,0.416667,...,0.178571,0.095238,0.600328,0.241611,0.214286,0.241456,0,0,0,0.0
6399,20200719WOSK0,20200719,WO,SK,0,L,2,24,173,0.416667,...,0.111111,0.102041,0.551351,0.365772,0.300000,0.175980,0,0,1,0.0

In [16]:
L_runs.to_csv('L_runs.csv',index=False)

In [18]:
L_runs.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'CG_CK', 'WLS', 'HOLD', 'INN2',
       'BF', 'PA', 'AB', 'HIT', 'H1', 'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF',
       'BB', 'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'Pitcher_ERR', 'R', 'ER',
       'P_WHIP_RT', 'P2_WHIP_RT', 'CB_WHIP_RT', 'K/BB', 'OOPS', 'WHIP',
       'BABIP', 'kFIP', 'HEADER_NO_1', 'HEADER_NO_2', 'TB_SC_T', 'Hitter_ERR'],
      dtype='object')