In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/user/Desktop/ESC_20_2/ESC_Summer_Team5/data/cleansing_data/개인타자.csv', index_col=0)

In [3]:
data

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,BAT_ORDER_NO,PA,...,P_AB_CN,P_HIT_CN,GYEAR,NAME,POSITION,AGE_VA,MONEY,GWEEK,STADIUM,HOME
0,20160401HHLG0,20160401,HH,LG,0,T,60404,0,3,1,...,0,0,2016,송주호,외,28.0,4000만원,금,잠실,0
1,20160401HHLG0,20160401,LG,HH,0,B,61102,1,8,3,...,0,0,2016,유강남,포,24.0,8100만원,금,잠실,1
2,20160401HHLG0,20160401,LG,HH,0,B,61186,1,7,4,...,1,1,2016,이천웅,외,28.0,2800만원,금,잠실,1
3,20160401HHLG0,20160401,LG,HH,0,B,62164,0,9,1,...,0,0,2016,서상우,내,27.0,6000만원,금,잠실,1
4,20160401HHLG0,20160401,HH,LG,0,T,62700,1,9,2,...,0,0,2016,하주석,내,22.0,3200만원,금,잠실,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81097,20200719WOSK0,20200719,SK,WO,0,B,75847,1,3,4,...,1,0,2020,최정,내,33.0,120000만원,일,문학,1
81098,20200719WOSK0,20200719,SK,WO,0,B,76802,1,9,4,...,1,1,2020,김성현,내,33.0,21000만원,일,문학,1
81099,20200719WOSK0,20200719,SK,WO,0,B,77463,0,6,1,...,0,0,2020,채태인,내,38.0,10000만원,일,문학,1
81100,20200719WOSK0,20200719,WO,SK,0,T,78168,1,1,5,...,1,0,2020,서건창,내,31.0,35000만원,일,문학,0
81101,20200719WOSK0,20200719,WO,SK,0,T,79456,1,6,4,...,0,0,2020,이지영,포,34.0,30000만원,일,문학,0

In [4]:
data.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC', 'P_ID',
       'START_CK', 'BAT_ORDER_NO', 'PA', 'AB', 'RBI', 'RUN', 'HIT', 'H2', 'H3',
       'HR', 'SB', 'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'ERR',
       'LOB', 'P_HRA_RT', 'P_AB_CN', 'P_HIT_CN', 'GYEAR', 'NAME', 'POSITION',
       'AGE_VA', 'MONEY', 'GWEEK', 'STADIUM', 'HOME'],
      dtype='object')

In [5]:
data.columns=['게임키','일자','팀코드','상대팀코드','더블헤더코드','초말','선수코드',
            '선발','타순','타자','타수','타점','득점','안타','2루타','3루타',
            '홈런','도루','도루실패','희타','희비','4구','고4','사구','삼진','병살타','실책',
            '잔루','특점권타율','득점권타수','득점권안타','시즌','선수명','포지션',
            '나이','연봉','요일','구장','홈여부']

In [6]:
ab = data.loc[:,'선수코드':'실책']
ab

,선수코드,선발,타순,타자,타수,타점,득점,안타,2루타,3루타,...,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책
0,60404,0,3,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,61102,1,8,3,3,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
2,61186,1,7,4,4,2,2,3,0,0,...,0,1,0,0,0,0,0,1,0,0
3,62164,0,9,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,62700,1,9,2,2,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81097,75847,1,3,4,4,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
81098,76802,1,9,4,3,1,0,3,0,0,...,0,0,0,0,1,0,0,0,0,0
81099,77463,0,6,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
81100,78168,1,1,5,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
81101,79456,1,6,4,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
del ab['선발']
del ab['타순']

In [8]:
ab1 = ab[0:18684]
ab2 = ab[18684:37197]
ab3 = ab[37197:55421]
ab4 = ab[55421:73042]
ab5 = ab[73042:]

In [9]:
happy = ab1['선수코드'].unique()
tmp = ab1.loc[ab1.선수코드 == happy[0],'타자':'실책'].sum()
tmp = pd.DataFrame(tmp)
tmp2 = tmp

In [10]:
for i in range(len(happy)-1):
    tmp = ab1.loc[ab1.선수코드 == happy[i+1],'타자':'실책'].sum()
    tmp = pd.DataFrame(tmp)
    tmp2 = pd.concat([tmp2,tmp],axis=1)

In [11]:
tmp2 = tmp2.transpose()
tmp2.index = np.arange(len(happy))
happy = pd.DataFrame(happy)
happy.columns = ['선수코드']
tmp2 = pd.concat([happy,tmp2],axis=1)
data1 = tmp2
data1

,선수코드,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책
0,60404,52,47,1,3,5,0,0,0,0,2,2,0,3,0,0,12,1,0
1,61102,297,263,47,28,70,7,0,8,0,0,4,6,17,0,7,48,6,5
2,61186,320,276,41,38,81,10,1,6,6,9,6,1,34,0,3,49,3,2
3,62164,137,111,12,18,28,5,0,4,1,0,0,0,25,1,1,37,1,0
4,62700,441,405,57,58,113,21,1,10,5,7,8,1,18,1,9,115,3,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,66609,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
374,97336,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
375,65120,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
376,97109,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
377,66469,4,3,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0

In [12]:
happy = ab2['선수코드'].unique()
tmp = ab2.loc[ab2.선수코드 == happy[0],'타자':'실책'].sum()
tmp = pd.DataFrame(tmp)
tmp2 = tmp

for i in range(len(happy)-1):
    tmp = ab2.loc[ab2.선수코드 == happy[i+1],'타자':'실책'].sum()
    tmp = pd.DataFrame(tmp)
    tmp2 = pd.concat([tmp2,tmp],axis=1)
    
tmp2 = tmp2.transpose()
tmp2.index = np.arange(len(happy))
happy = pd.DataFrame(happy)
happy.columns = ['선수코드']
tmp2 = pd.concat([happy,tmp2],axis=1)
data2 = tmp2
data2

,선수코드,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책
0,61700,93,84,4,17,18,2,1,0,1,1,0,0,8,0,1,19,1,4
1,62234,330,297,26,60,77,13,4,3,7,5,8,0,21,0,4,55,2,15
2,62768,212,195,26,29,54,12,2,7,0,0,2,0,10,0,5,59,3,0
3,64086,72,67,7,5,11,2,1,1,1,0,1,1,2,0,1,21,2,3
4,66209,52,47,2,17,13,2,0,0,3,2,0,0,4,0,1,12,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,67893,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0
356,66162,1,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
357,60263,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
358,63903,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
359,77452,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
happy = ab3['선수코드'].unique()
tmp = ab3.loc[ab3.선수코드 == happy[0],'타자':'실책'].sum()
tmp = pd.DataFrame(tmp)
tmp2 = tmp

for i in range(len(happy)-1):
    tmp = ab3.loc[ab3.선수코드 == happy[i+1],'타자':'실책'].sum()
    tmp = pd.DataFrame(tmp)
    tmp2 = pd.concat([tmp2,tmp],axis=1)
    
tmp2 = tmp2.transpose()
tmp2.index = np.arange(len(happy))
happy = pd.DataFrame(happy)
happy.columns = ['선수코드']
tmp2 = pd.concat([happy,tmp2],axis=1)
data3 = tmp2
data3

,선수코드,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책
0,60805,2,0,0,1,0,0,0,0,0,0,0,0,2,0,0,0,0,0
1,61353,351,330,54,47,92,22,0,6,17,4,1,4,15,1,1,96,2,3
2,62700,517,484,52,67,123,20,3,9,14,12,1,0,28,0,4,130,7,18
3,62797,236,209,13,32,53,9,0,2,1,1,0,1,22,2,4,32,8,1
4,64300,576,511,84,95,147,27,4,20,8,2,1,5,54,2,5,81,16,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,65056,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
327,78248,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
328,99563,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
329,68906,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
330,73153,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [14]:
happy = ab4['선수코드'].unique()
tmp = ab4.loc[ab4.선수코드 == happy[0],'타자':'실책'].sum()
tmp = pd.DataFrame(tmp)
tmp2 = tmp

for i in range(len(happy)-1):
    tmp = ab4.loc[ab4.선수코드 == happy[i+1],'타자':'실책'].sum()
    tmp = pd.DataFrame(tmp)
    tmp2 = pd.concat([tmp2,tmp],axis=1)
    
tmp2 = tmp2.transpose()
tmp2.index = np.arange(len(happy))
happy = pd.DataFrame(happy)
happy.columns = ['선수코드']
tmp2 = pd.concat([happy,tmp2],axis=1)
data4 = tmp2
data4

,선수코드,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책
0,61554,140,125,14,14,32,6,0,2,5,2,2,1,9,0,3,41,4,2
1,62244,505,441,63,58,123,19,9,4,8,2,10,6,41,1,7,68,5,8
2,62700,20,19,2,3,5,2,0,0,0,0,1,0,0,0,0,4,1,2
3,62797,129,119,6,11,20,3,0,1,1,0,1,0,9,0,0,28,2,0
4,68730,525,476,73,74,135,26,2,18,22,7,1,5,38,5,5,90,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,65132,7,5,1,0,1,0,0,0,0,0,0,0,2,0,0,2,0,0
349,66707,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
350,69403,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
351,78517,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
352,68330,8,6,1,1,1,1,0,0,0,0,0,0,2,0,0,3,0,0

In [15]:
happy = ab5['선수코드'].unique()
tmp = ab5.loc[ab5.선수코드 == happy[0],'타자':'실책'].sum()
tmp = pd.DataFrame(tmp)
tmp2 = tmp

for i in range(len(happy)-1):
    tmp = ab5.loc[ab5.선수코드 == happy[i+1],'타자':'실책'].sum()
    tmp = pd.DataFrame(tmp)
    tmp2 = pd.concat([tmp2,tmp],axis=1)
    
tmp2 = tmp2.transpose()
tmp2.index = np.arange(len(happy))
happy = pd.DataFrame(happy)
happy.columns = ['선수코드']
tmp2 = pd.concat([happy,tmp2],axis=1)
data5 = tmp2
data5

,선수코드,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책
0,61208,184,162,10,20,47,8,0,1,8,3,4,2,16,0,0,24,4,0
1,61353,88,83,9,1,17,0,2,0,1,1,0,0,4,0,1,24,2,1
2,62700,84,81,8,8,25,5,0,0,3,0,0,0,3,0,0,18,1,2
3,62895,90,79,14,13,21,3,0,7,0,0,0,2,8,1,1,24,4,2
4,63450,103,91,2,10,15,3,0,1,0,1,3,0,8,0,1,28,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,50357,11,11,0,0,3,1,0,0,0,0,0,0,0,0,0,5,0,1
295,62864,19,18,5,3,7,0,1,0,0,0,0,0,1,0,0,2,0,0
296,62146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
297,75342,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
298,50730,8,8,1,0,4,3,0,0,0,0,0,0,0,0,0,1,0,0

In [16]:
data_final = pd.concat([data1,data2],axis=0)
data_final = pd.concat([data_final,data3],axis=0)
data_final = pd.concat([data_final,data4],axis=0)
data_final = pd.concat([data_final,data5],axis=0)

data_final.index = np.arange(1721)

year = np.array(["2016","2017","2018","2019","2020"])
year = np.repeat(year, [378,360,331,353,299],axis=0)
year = pd.DataFrame(year)
year.columns=['GYEAR']
data_final = pd.concat([year,data_final],axis=1)

data_final

,GYEAR,선수코드,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책
0,2016,60404,52,47,1,3,5,0,0,0,0,2,2,0,3,0,0,12,1,0
1,2016,61102,297,263,47,28,70,7,0,8,0,0,4,6,17,0,7,48,6,5
2,2016,61186,320,276,41,38,81,10,1,6,6,9,6,1,34,0,3,49,3,2
3,2016,62164,137,111,12,18,28,5,0,4,1,0,0,0,25,1,1,37,1,0
4,2016,62700,441,405,57,58,113,21,1,10,5,7,8,1,18,1,9,115,3,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,2020,50357,11,11,0,0,3,1,0,0,0,0,0,0,0,0,0,5,0,1
1717,2020,62864,19,18,5,3,7,0,1,0,0,0,0,0,1,0,0,2,0,0
1718,2020,62146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1719,2020,75342,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1720,2020,50730,8,8,1,0,4,3,0,0,0,0,0,0,0,0,0,1,0,0

In [17]:
a = data_final[['타수']]
a_=a.values 

b = data_final[['안타']]
b_ = b.values

# 타율 = 안타/타수

In [18]:
# 타율 계산
x_ = b_/a_

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

In [19]:
for i in range(len(b_)):
    if b_[i] == 0:
        x_[i] = 0        

x_

array([[0.10638298],
       [0.2661597 ],
       [0.29347826],
       ...,
       [0.        ],
       [0.        ],
       [0.5       ]])

In [20]:
x = pd.DataFrame(x_)
x.columns=['BA']
x

            BA
0     0.106383
1     0.266160
2     0.293478
3     0.252252
4     0.279012
...        ...
1716  0.272727
1717  0.388889
1718  0.000000
1719  0.000000
1720  0.500000

[1721 rows x 1 columns]

# 장타율 = (1루타 * 1 + 2루타 * 2 + 3루타 * 3 + 홈런 * 4) / 타수

In [21]:
c1 = data_final[['2루타']]
c2 = data_final[['3루타']]
c3 = data_final[['홈런']]

c1_ = c1.values
c2_ = c2.values
c3_ = c3.values

# 1루타 계산
c0_ = b_ - (c1_+c2_+c3_)

# 루타수 계산
c4_ = (c0_*1) + (c1_*2) + (c2_*3) + (c3_*4)

In [22]:
# 장타율 계산
x1_ = c4_ / a_
x1_

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

array([[0.10638298],
       [0.38403042],
       [0.40217391],
       ...,
       [       nan],
       [       nan],
       [0.875     ]])

In [23]:
for i in range(len(x1_)):
    if a_[i]==0:
        x1_[i]=0
        
x1_

array([[0.10638298],
       [0.38403042],
       [0.40217391],
       ...,
       [0.        ],
       [0.        ],
       [0.875     ]])

In [24]:
x1=pd.DataFrame(x1_)
x1.columns = ['SLG']
x1

           SLG
0     0.106383
1     0.384030
2     0.402174
3     0.405405
4     0.409877
...        ...
1716  0.363636
1717  0.500000
1718  0.000000
1719  0.000000
1720  0.875000

[1721 rows x 1 columns]

# 절대 장타율 = 장타율 - 타율

In [25]:
# 절대 장타율 계산
x2_ = x1_ - x_
x2 = pd.DataFrame(x2_)
x2.columns=['IsoP']
x2

          IsoP
0     0.000000
1     0.117871
2     0.108696
3     0.153153
4     0.130864
...        ...
1716  0.090909
1717  0.111111
1718  0.000000
1719  0.000000
1720  0.375000

[1721 rows x 1 columns]

# RC = 득점기여도

* RC = (A x B) / C
* A = 안타 + 볼넷 + 사구 - 도루실패 - 병살타
* B = 루타수 + 0.52 x (도루 + 희타 + 희생플라이) + 0.26 x (볼넷 + 사구 - 고의4구)
* C = 타수 + 볼넷 + 사구 + 희타 +  희생플라이

In [26]:
d0 = data_final[['4구']]
d0_ = d0.values
d1 = data_final[['고4']]
d1_ = d1.values
d2 = data_final[['사구']]
d2_ = d2.values
d3 = data_final[['도루실패']]
d3_ = d3.values
d4 = data_final[['병살타']]
d4_ = d4.values

In [27]:
A_ = b_ + d0_ + d2_ - d3_ - d4_
A_

array([[  5],
       [ 88],
       [106],
       ...,
       [  0],
       [  0],
       [  4]], dtype=int64)

In [28]:
d5 = data_final[['희타']]
d5_ = d5.values
d6 = data_final[['희비']]
d6_ = d6.values
d7 = data_final[['도루']]
d7_ = d7.values
d8 = data_final[['삼진']]
d8_ = d8.values

In [29]:
B_ = c4_ + 0.52*(d7_+d5_+d6_) + 0.26*(d0_+d2_-d1_)

In [30]:
C_ = a_ + d0_ + d2_ + d5_ + d6_

In [31]:
# RC 계산
x3_ = (A_*B_)/C_
x3_

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

array([[ 0.65576923],
       [33.31555556],
       [42.194625  ],
       ...,
       [        nan],
       [        nan],
       [ 3.5       ]])

In [32]:
for i in range(len(x3_)):
    if C_[i]==0:
        x3_[i]=0

In [33]:
x3=pd.DataFrame(x3_)
x3.columns=['RC']
x3

             RC
0      0.655769
1     33.315556
2     42.194625
3     20.124526
4     53.073016
...         ...
1716   1.090909
1717   3.898947
1718   0.000000
1719   0.000000
1720   3.500000

[1721 rows x 1 columns]

# wOBA = 가중 출루율
* 분자 = w1(볼넷 - 고의사구) + w2(사구) + w3(1루타) + w4(2루타) + w5(3루타) + w6(홈런)
* 분모 = 타수 + 볼넷 - 고의사구 + 희생플라이 + 사구

In [34]:
c5=data_final[['실책']]
c5_=c5.values
a2=data_final[['타자']]
a2_=a2.values
a2_

array([[ 52],
       [297],
       [320],
       ...,
       [  0],
       [  0],
       [  8]], dtype=int64)

In [35]:
y1_ = ( ( 0.747 * (d0_[0:378,] - d1_[0:378,]) ) + (0.774 * d2_[0:378,]) + (0.944 * c0_[0:378,]) + (1.273 * c1_[0:378,]) + (1.569 * c2_[0:378,]) + (1.898 * c3_[0:378,]) ) / (a_[0:378,] + d0_[0:378,] - d1_[0:378,] + d6_[0:378,] + d2_[0:378,])

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

In [36]:
for i in range(len(y1_)):
    if (a_[i] + d0_[i] - d1_[i] + d6_[i] + d2_[i]) == 0:
        y1_[i] = 0
        
print(y1_)

[[0.13922   ]
 [0.32126962]
 [0.36249363]
 [0.37202206]
 [0.33196991]
 [0.19474359]
 [0.22168293]
 [0.37570225]
 [0.31961792]
 [0.38890799]
 [0.3222549 ]
 [0.41210038]
 [0.27806335]
 [0.34951163]
 [0.46283022]
 [0.26483871]
 [0.39654625]
 [0.37758065]
 [0.39866265]
 [0.29458763]
 [0.38167697]
 [0.36834957]
 [0.37327405]
 [0.28879608]
 [0.36650334]
 [0.17980952]
 [0.3064375 ]
 [0.19642857]
 [0.37305097]
 [0.3350493 ]
 [0.39496429]
 [0.35503226]
 [0.39541538]
 [0.19664444]
 [0.38173346]
 [0.463     ]
 [0.32791417]
 [0.41620072]
 [0.41086076]
 [0.31408989]
 [0.25252174]
 [0.38054198]
 [0.28164948]
 [0.36364522]
 [0.2667807 ]
 [0.42613573]
 [0.37726684]
 [0.33161765]
 [0.27697333]
 [0.45023299]
 [0.26889744]
 [0.36012766]
 [0.39778233]
 [0.26923577]
 [0.26318391]
 [0.35463115]
 [0.31486391]
 [0.30823984]
 [0.36839756]
 [0.36221127]
 [0.41522785]
 [0.34482071]
 [0.40486275]
 [0.35429828]
 [0.37530343]
 [0.42457616]
 [0.36299238]
 [0.36065739]
 [0.31539873]
 [0.24405714]
 [0.2911784 ]
 [0.298     ]
 [0.3549527 ]
 [0.39960757]
 [0.3367819 ]
 [0.32598519]
 [0.37354255]
 [0.27144118]
 [0.37675969]
 [0.37088739]
 [0.33234363]
 [0.35524444]
 [0.39843496]
 [0.38145178]
 [0.30635266]
 [0.27689362]
 [0.31818103]
 [0.37426144]
 [0.42547368]
 [0.43377193]
 [0.41705596]
 [0.31352778]
 [0.27068041]
 [0.33874038]
 [0.40630253]
 [0.38106087]
 [0.39082683]
 [0.32142424]
 [0.32160937]
 [0.34124852]
 [0.42826829]
 [0.3514376 ]
 [0.1888    ]
 [0.14474074]
 [0.26041379]
 [0.42540541]
 [0.38428947]
 [0.37994656]
 [0.48037541]
 [0.35741935]
 [0.37737551]
 [0.43177384]
 [0.42324615]
 [0.4010156 ]
 [0.33139665]
 [0.33635417]
 [0.41362687]
 [0.29946844]
 [0.34741196]
 [0.31063613]
 [0.32727981]
 [0.34884211]
 [0.39606431]
 [0.23052679]
 [0.2863038 ]
 [0.21721212]
 [0.34222305]
 [0.283725  ]
 [0.22436   ]
 [0.14523077]
 [0.25282353]
 [0.40623415]
 [0.15016129]
 [0.28868519]
 [0.38204724]
 [0.40127826]
 [0.37182162]
 [0.25846341]
 [0.18265517]
 [0.38962195]
 [0.28269027]
 [0.29651256]
 [0.33942424]
 [0.25686765]
 [0.21351923]
 [0.34150898]
 [0.29293902]
 [0.0996    ]
 [0.25447059]
 [0.18609524]
 [0.47346875]
 [0.24157143]
 [0.29242512]
 [0.        ]
 [0.21958333]
 [0.38554622]
 [0.35147727]
 [0.19986207]
 [0.28815625]
 [0.32999772]
 [0.36189474]
 [0.35021429]
 [0.34727465]
 [0.        ]
 [0.35952632]
 [0.        ]
 [0.39281702]
 [0.29024786]
 [0.40952107]
 [0.44165841]
 [0.23782   ]
 [0.        ]
 [0.27832258]
 [0.        ]
 [0.30373034]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.36346584]
 [0.        ]
 [0.        ]
 [0.2366625 ]
 [0.        ]
 [0.        ]
 [0.3216    ]
 [0.        ]
 [0.36755085]
 [0.24558621]
 [0.        ]
 [0.        ]
 [0.07866667]
 [0.        ]
 [0.2997476 ]
 [0.36547699]
 [0.39379079]
 [0.35804902]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.34896142]
 [0.        ]
 [0.        ]
 [0.38642094]
 [0.22056   ]
 [0.        ]
 [0.24042553]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.38784667]
 [0.37096725]
 [0.31581395]
 [0.24677273]
 [0.155     ]
 [0.44070833]
 [0.34868613]
 [0.3074    ]
 [0.        ]
 [0.        ]
 [0.24542857]
 [0.472     ]
 [0.        ]
 [0.        ]
 [0.25365   ]
 [0.29277778]
 [0.394825  ]
 [0.25376829]
 [0.        ]
 [0.        ]
 [0.26321739]
 [0.25678431]
 [0.        ]
 [0.        ]
 [0.22222222]
 [0.        ]
 [0.        ]
 [0.2635    ]
 [0.16104762]
 [0.2979125 ]
 [0.3651954 ]
 [0.63485714]
 [0.        ]
 [0.3776    ]
 [0.17163636]
 [0.        ]
 [0.36123506]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.15733333]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.38190984]
 [0.35464085]
 [0.        ]
 [0.944     ]
 [0.40005882]
 [0.        ]
 [0.        ]
 [0.32103509]
 [0.        ]
 [0.21088889]
 [0.18851724]
 [0.152375  ]
 [0.486125  ]
 [0.18803125]
 [0.28955696]
 [0.30537705]
 [0.07866667]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.20568421]
 [0.22988235]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.27818293]
 [0.        ]
 [0.236     ]
 [0.25536842]
 [0.        ]
 [0.083     ]
 [0.27510204]
 [0.        ]
 [0.16253333]
 [0.118     ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.086     ]
 [0.        ]
 [0.48406452]
 [0.        ]
 [0.747     ]
 [0.        ]
 [0.472     ]
 [0.45447619]
 [0.3865411 ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.31309877]
 [0.43992233]
 [0.236     ]
 [0.        ]
 [0.29086154]
 [0.        ]
 [0.        ]
 [0.4412    ]
 [0.        ]
 [0.41077778]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.1548    ]
 [0.        ]
 [0.        ]
 [0.36090909]
 [0.404     ]
 [0.        ]
 [0.30553448]
 [0.3735    ]
 [0.        ]
 [0.        ]
 [0.13007692]
 [0.        ]
 [0.14091667]
 [0.        ]
 [0.35696774]
 [0.40953922]
 [0.33646429]
 [0.28440476]
 [0.24425   ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.33007018]
 [0.        ]
 [0.        ]
 [0.47077778]
 [0.45695455]
 [0.32644444]
 [0.33717021]
 [0.31205   ]
 [0.        ]
 [0.40484615]
 [0.20269231]
 [0.        ]
 [0.        ]
 [0.944     ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.944     ]
 [0.42275   ]]

In [37]:
y2_ = ( ( 0.728 * (d0_[378:738,] - d1_[378:738,]) ) + (0.756 * d2_[378:738,]) + (0.927 * c0_[378:738,]) + (1.259 * c1_[378:738,]) + (1.558 * c2_[378:738,]) + (1.901 * c3_[378:738,]) ) / (a_[378:738,] + d0_[378:738,] - d1_[378:738,] + d6_[378:738,] + d2_[378:738,])
y2_

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([[0.26409677],
       [0.30886025],
       [0.34848571],
       [0.20673239],
       [0.31505769],
       [0.37897762],
       [0.22831387],
       [0.44990909],
       [0.29150159],
       [0.4131525 ],
       [0.2899537 ],
       [0.2403913 ],
       [0.36010366],
       [0.39673264],
       [0.40350538],
       [0.38400231],
       [0.36449505],
       [0.37486267],
       [0.36470726],
       [0.31427013],
       [0.32025581],
       [0.43948083],
       [0.43666604],
       [0.31120488],
       [0.12786207],
       [0.15492   ],
       [0.        ],
       [0.26505   ],
       [0.32485354],
       [0.39416873],
       [0.32935873],
       [0.30734862],
       [0.33008115],
       [0.26702222],
       [0.31818679],
       [0.41366951],
       [0.39235714],
       [0.37302941],
       [0.37470721],
       [0.44235266],
       [0.34834447],
       [0.28334444],
       [0.34676816],
       [0.21487931],
       [0.33590728],
       [0.206875  ],
       [0.056     ],
       [0.40230962],
       [0.40885844],
       [0.27032827],
       [0.36117083],
       [0.36667742],
       [0.33523273],
       [0.31058571],
       [0.2766257 ],
       [0.42556553],
       [0.31772575],
       [0.35573302],
       [0.        ],
       [0.27555769],
       [0.27852734],
       [0.29034975],
       [0.34693849],
       [0.29009141],
       [0.36076673],
       [0.34431594],
       [0.37895538],
       [0.4555648 ],
       [0.31207857],
       [0.29793567],
       [0.29867117],
       [0.33595357],
       [0.35682262],
       [0.21056818],
       [0.3039557 ],
       [0.2201875 ],
       [0.26676923],
       [0.33271545],
       [0.38602345],
       [0.34102525],
       [0.33192424],
       [0.23198246],
       [0.37106311],
       [0.30124658],
       [0.40227627],
       [0.31858462],
       [0.33284644],
       [0.3683942 ],
       [0.29167059],
       [0.39005497],
       [0.34527273],
       [0.33692558],
       [0.37870915],
       [0.34644186],
       [0.33195238],
       [0.30551801],
       [0.20492308],
       [0.33204676],
       [0.37579245],
       [0.33201741],
       [0.33777966],
       [0.3039375 ],
       [0.29210082],
       [0.31404058],
       [0.42774773],
       [0.36777473],
       [0.30168504],
       [0.24629412],
       [0.20076923],
       [0.37620172],
       [0.42331589],
       [0.35637284],
       [0.39953167],
       [0.32105769],
       [0.30240252],
       [0.37455438],
       [0.31145695],
       [0.32086275],
       [0.35903141],
       [0.36678389],
       [0.33810755],
       [0.41057599],
       [0.31468159],
       [0.38240854],
       [0.24285714],
       [0.3685728 ],
       [0.34500457],
       [0.33900868],
       [0.23690909],
       [0.36248837],
       [0.35754667],
       [0.28404167],
       [       nan],
       [0.        ],
       [0.31771429],
       [       nan],
       [       nan],
       [0.35783626],
       [       nan],
       [       nan],
       [0.41882051],
       [0.        ],
       [       nan],
       [0.21663636],
       [0.35289569],
       [0.35446761],
       [0.33973077],
       [0.2570625 ],
       [0.3882    ],
       [0.31625137],
       [0.29371831],
       [0.34051092],
       [       nan],
       [0.30769967],
       [       nan],
       [0.26794805],
       [0.35991858],
       [0.32706393],
       [0.17488   ],
       [0.31697183],
       [0.31253353],
       [0.21296078],
       [0.38361429],
       [0.35191729],
       [0.22191228],
       [0.28088496],
       [0.25398462],
       [0.32449573],
       [       nan],
       [0.22735714],
       [0.        ],
       [0.3860632 ],
       [0.41482628],
       [0.34078049],
       [0.33103922],
       [       nan],
       [       nan],
       [0.37081928],
       [0.        ],
       [0.30450926],
       [0.29732394],
       [0.40496805],
       [0.29846939],
       [0.31476744],
       [       nan],
       [0.23347059],
       [0.        ],
       [       nan],
       [0.247625  ],
       [0.24088889],
       [       nan],
       [       nan],
       [0.23946154],
       [0.35371105],
       [0.33560769],
       [0.927     ],
       [0.34566102],
       [       nan],
       [0.19494444],
       [0.2482093 ],
       [0.252     ],
       [0.30524623],
       [0.        ],
       [0.3530878 ],
       [       nan],
       [0.21595652],
       [0.1854    ],
       [0.22235714],
       [0.32036957],
       [0.30324242],
       [0.330125  ],
       [0.32705618],
       [0.4635    ],
       [       nan],
       [0.34424691],
       [0.30115385],
       [0.16854545],
       [       nan],
       [0.        ],
       [0.29713907],
       [0.33244118],
       [0.20278125],
       [0.36885714],
       [0.29347826],
       [0.19382456],
       [0.        ],
       [0.3113    ],
       [0.28535094],
       [       nan],
       [0.2781    ],
       [       nan],
       [0.0927    ],
       [       nan],
       [       nan],
       [0.37833575],
       [       nan],
       [       nan],
       [0.        ],
       [0.39728571],
       [0.23347368],
       [       nan],
       [0.369375  ],
       [0.        ],
       [       nan],
       [       nan],
       [0.34282308],
       [       nan],
       [0.31004484],
       [0.20819048],
       [0.        ],
       [       nan],
       [0.33154082],
       [0.104     ],
       [0.51175   ],
       [       nan],
       [0.364     ],
       [0.38616038],
       [0.26992308],
       [       nan],
       [0.35365464],
       [0.239     ],
       [       nan],
       [0.4137395 ],
       [       nan],
       [0.34575573],
       [0.17654167],
       [0.23978571],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [0.31336765],
       [0.4079375 ],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [0.38839237],
       [0.        ],
       [       nan],
       [0.        ],
       [0.35683333],
       [0.30927966],
       [0.29182609],
       [       nan],
       [       nan],
       [0.1945625 ],
       [0.        ],
       [0.1195    ],
       [0.28975   ],
       [0.34736842],
       [       nan],
       [       nan],
       [       nan],
       [0.24547059],
       [0.        ],
       [0.17568421],
       [       nan],
       [0.309     ],
       [0.        ],
       [0.        ],
       [0.34588889],
       [0.27347009],
       [0.        ],
       [0.        ],
       [       nan],
       [0.        ],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [0.927     ],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [0.35882609],
       [0.22985   ],
       [0.34289697],
       [       nan],
       [0.43567662],
       [       nan],
       [       nan],
       [0.206875  ],
       [0.24825   ],
       [       nan],
       [       nan],
       [0.32239583],
       [       nan],
       [       nan],
       [0.        ],
       [0.26133333],
       [0.309     ],
       [0.1545    ],
       [0.        ],
       [       nan],
       [       nan],
       [0.17459091],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [0.10491667],
       [0.29090909],
       [0.32286207],
       [0.31228571],
       [       nan],
       [0.        ],
       [0.        ],
       [0.927     ],
       [       nan],
       [0.        ],
       [       nan]])

In [38]:
for i in range(len(y2_)):
    if (a_[378 + i] + d0_[378 + i] - d1_[378 + i] + d6_[378 + i] + d2_[378 + i]) == 0:
        y2_[i] = 0
        
print(y2_)

[[0.26409677]
 [0.30886025]
 [0.34848571]
 [0.20673239]
 [0.31505769]
 [0.37897762]
 [0.22831387]
 [0.44990909]
 [0.29150159]
 [0.4131525 ]
 [0.2899537 ]
 [0.2403913 ]
 [0.36010366]
 [0.39673264]
 [0.40350538]
 [0.38400231]
 [0.36449505]
 [0.37486267]
 [0.36470726]
 [0.31427013]
 [0.32025581]
 [0.43948083]
 [0.43666604]
 [0.31120488]
 [0.12786207]
 [0.15492   ]
 [0.        ]
 [0.26505   ]
 [0.32485354]
 [0.39416873]
 [0.32935873]
 [0.30734862]
 [0.33008115]
 [0.26702222]
 [0.31818679]
 [0.41366951]
 [0.39235714]
 [0.37302941]
 [0.37470721]
 [0.44235266]
 [0.34834447]
 [0.28334444]
 [0.34676816]
 [0.21487931]
 [0.33590728]
 [0.206875  ]
 [0.056     ]
 [0.40230962]
 [0.40885844]
 [0.27032827]
 [0.36117083]
 [0.36667742]
 [0.33523273]
 [0.31058571]
 [0.2766257 ]
 [0.42556553]
 [0.31772575]
 [0.35573302]
 [0.        ]
 [0.27555769]
 [0.27852734]
 [0.29034975]
 [0.34693849]
 [0.29009141]
 [0.36076673]
 [0.34431594]
 [0.37895538]
 [0.4555648 ]
 [0.31207857]
 [0.29793567]
 [0.29867117]
 [0.33595357]
 [0.35682262]
 [0.21056818]
 [0.3039557 ]
 [0.2201875 ]
 [0.26676923]
 [0.33271545]
 [0.38602345]
 [0.34102525]
 [0.33192424]
 [0.23198246]
 [0.37106311]
 [0.30124658]
 [0.40227627]
 [0.31858462]
 [0.33284644]
 [0.3683942 ]
 [0.29167059]
 [0.39005497]
 [0.34527273]
 [0.33692558]
 [0.37870915]
 [0.34644186]
 [0.33195238]
 [0.30551801]
 [0.20492308]
 [0.33204676]
 [0.37579245]
 [0.33201741]
 [0.33777966]
 [0.3039375 ]
 [0.29210082]
 [0.31404058]
 [0.42774773]
 [0.36777473]
 [0.30168504]
 [0.24629412]
 [0.20076923]
 [0.37620172]
 [0.42331589]
 [0.35637284]
 [0.39953167]
 [0.32105769]
 [0.30240252]
 [0.37455438]
 [0.31145695]
 [0.32086275]
 [0.35903141]
 [0.36678389]
 [0.33810755]
 [0.41057599]
 [0.31468159]
 [0.38240854]
 [0.24285714]
 [0.3685728 ]
 [0.34500457]
 [0.33900868]
 [0.23690909]
 [0.36248837]
 [0.35754667]
 [0.28404167]
 [0.        ]
 [0.        ]
 [0.31771429]
 [0.        ]
 [0.        ]
 [0.35783626]
 [0.        ]
 [0.        ]
 [0.41882051]
 [0.        ]
 [0.        ]
 [0.21663636]
 [0.35289569]
 [0.35446761]
 [0.33973077]
 [0.2570625 ]
 [0.3882    ]
 [0.31625137]
 [0.29371831]
 [0.34051092]
 [0.        ]
 [0.30769967]
 [0.        ]
 [0.26794805]
 [0.35991858]
 [0.32706393]
 [0.17488   ]
 [0.31697183]
 [0.31253353]
 [0.21296078]
 [0.38361429]
 [0.35191729]
 [0.22191228]
 [0.28088496]
 [0.25398462]
 [0.32449573]
 [0.        ]
 [0.22735714]
 [0.        ]
 [0.3860632 ]
 [0.41482628]
 [0.34078049]
 [0.33103922]
 [0.        ]
 [0.        ]
 [0.37081928]
 [0.        ]
 [0.30450926]
 [0.29732394]
 [0.40496805]
 [0.29846939]
 [0.31476744]
 [0.        ]
 [0.23347059]
 [0.        ]
 [0.        ]
 [0.247625  ]
 [0.24088889]
 [0.        ]
 [0.        ]
 [0.23946154]
 [0.35371105]
 [0.33560769]
 [0.927     ]
 [0.34566102]
 [0.        ]
 [0.19494444]
 [0.2482093 ]
 [0.252     ]
 [0.30524623]
 [0.        ]
 [0.3530878 ]
 [0.        ]
 [0.21595652]
 [0.1854    ]
 [0.22235714]
 [0.32036957]
 [0.30324242]
 [0.330125  ]
 [0.32705618]
 [0.4635    ]
 [0.        ]
 [0.34424691]
 [0.30115385]
 [0.16854545]
 [0.        ]
 [0.        ]
 [0.29713907]
 [0.33244118]
 [0.20278125]
 [0.36885714]
 [0.29347826]
 [0.19382456]
 [0.        ]
 [0.3113    ]
 [0.28535094]
 [0.        ]
 [0.2781    ]
 [0.        ]
 [0.0927    ]
 [0.        ]
 [0.        ]
 [0.37833575]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.39728571]
 [0.23347368]
 [0.        ]
 [0.369375  ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.34282308]
 [0.        ]
 [0.31004484]
 [0.20819048]
 [0.        ]
 [0.        ]
 [0.33154082]
 [0.104     ]
 [0.51175   ]
 [0.        ]
 [0.364     ]
 [0.38616038]
 [0.26992308]
 [0.        ]
 [0.35365464]
 [0.239     ]
 [0.        ]
 [0.4137395 ]
 [0.        ]
 [0.34575573]
 [0.17654167]
 [0.23978571]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.31336765]
 [0.4079375 ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.38839237]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.35683333]
 [0.30927966]
 [0.29182609]
 [0.        ]
 [0.        ]
 [0.1945625 ]
 [0.        ]
 [0.1195    ]
 [0.28975   ]
 [0.34736842]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.24547059]
 [0.        ]
 [0.17568421]
 [0.        ]
 [0.309     ]
 [0.        ]
 [0.        ]
 [0.34588889]
 [0.27347009]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.927     ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.35882609]
 [0.22985   ]
 [0.34289697]
 [0.        ]
 [0.43567662]
 [0.        ]
 [0.        ]
 [0.206875  ]
 [0.24825   ]
 [0.        ]
 [0.        ]
 [0.32239583]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.26133333]
 [0.309     ]
 [0.1545    ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.17459091]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.10491667]
 [0.29090909]
 [0.32286207]
 [0.31228571]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.927     ]
 [0.        ]
 [0.        ]
 [0.        ]]

In [39]:
y3_ = ( ( 0.726 * (d0_[738:1069,] - d1_[738:1069,]) ) + (0.753 * d2_[738:1069,]) + (0.920 * c0_[738:1069,]) + (1.242 * c1_[738:1069,]) + (1.533 * c2_[738:1069,]) + (1.857 * c3_[738:1069,]) ) / (a_[738:1069,] + d0_[738:1069,] - d1_[738:1069,] + d6_[738:1069,] + d2_[738:1069,])
y3_

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([[0.726     ],
       [0.31020917],
       [0.29692248],
       [0.30369231],
       [0.36063351],
       [0.34234081],
       [0.32194144],
       [0.2862    ],
       [0.0575    ],
       [0.39317899],
       [0.34147595],
       [0.39145   ],
       [0.36383704],
       [0.33581658],
       [0.47824268],
       [0.36970922],
       [0.24590411],
       [0.34642174],
       [0.33865076],
       [0.37338608],
       [0.31040597],
       [0.26670345],
       [0.21102564],
       [0.312608  ],
       [0.31919137],
       [0.31314124],
       [0.32215306],
       [0.29974169],
       [0.31144037],
       [0.41049531],
       [0.38698459],
       [0.37516923],
       [0.38131681],
       [0.25053927],
       [0.36477128],
       [0.41157973],
       [0.35745247],
       [0.34124158],
       [0.40624211],
       [0.37737778],
       [0.51195   ],
       [0.347875  ],
       [0.32077806],
       [0.34298351],
       [0.39713793],
       [0.40660584],
       [0.35110294],
       [0.35200645],
       [0.25988832],
       [0.36954113],
       [0.36514978],
       [0.33799781],
       [0.32775281],
       [0.38661851],
       [0.31358252],
       [0.33967969],
       [0.32449807],
       [0.24578195],
       [0.35470299],
       [0.23432   ],
       [0.38831068],
       [0.36204288],
       [0.2677651 ],
       [0.25082677],
       [0.35401078],
       [0.26160465],
       [0.4236099 ],
       [0.2444717 ],
       [0.35068153],
       [0.33553488],
       [0.39636742],
       [0.24946809],
       [0.27244976],
       [0.35111229],
       [0.39889267],
       [0.36600864],
       [0.34232857],
       [0.32135506],
       [0.115     ],
       [0.18328351],
       [0.35642829],
       [0.42183604],
       [0.2825    ],
       [0.41461809],
       [0.3884084 ],
       [0.31017941],
       [0.33839066],
       [0.34478571],
       [0.38524641],
       [0.40644531],
       [0.37150716],
       [0.32      ],
       [0.3160307 ],
       [0.40083726],
       [0.35413942],
       [0.40982183],
       [0.42145752],
       [0.21651613],
       [0.35791897],
       [0.32674721],
       [0.39921673],
       [0.35160374],
       [0.28301456],
       [0.30453368],
       [0.43226298],
       [0.1915    ],
       [0.34772917],
       [0.38114471],
       [0.33662712],
       [0.38380842],
       [0.37599631],
       [0.43067404],
       [0.41356197],
       [0.36646332],
       [0.43822742],
       [0.37203416],
       [0.36890734],
       [0.40203571],
       [0.3040224 ],
       [0.28948171],
       [0.26843443],
       [0.3170724 ],
       [0.28353179],
       [0.18101667],
       [0.31096825],
       [0.        ],
       [0.25980357],
       [0.13716667],
       [0.336     ],
       [0.        ],
       [0.23      ],
       [0.22962222],
       [0.32412291],
       [0.278384  ],
       [0.21932381],
       [0.25748023],
       [0.24638596],
       [0.37258824],
       [0.33396203],
       [0.29794737],
       [0.26212069],
       [0.31963314],
       [0.30749351],
       [0.36535065],
       [0.37944638],
       [0.27609333],
       [0.31324094],
       [0.31574775],
       [0.34276812],
       [0.25989474],
       [       nan],
       [0.23      ],
       [0.37954082],
       [0.10371429],
       [0.26808462],
       [0.26184615],
       [0.3346    ],
       [       nan],
       [0.32902759],
       [0.23796053],
       [0.25465753],
       [       nan],
       [0.38042857],
       [       nan],
       [0.30397917],
       [0.31076444],
       [0.25683333],
       [0.28825926],
       [       nan],
       [0.2808    ],
       [0.22352778],
       [       nan],
       [0.        ],
       [0.17246939],
       [0.37746183],
       [0.29634483],
       [0.115     ],
       [       nan],
       [0.3040989 ],
       [0.        ],
       [0.36776204],
       [0.15333333],
       [0.36205051],
       [0.31983333],
       [0.34273822],
       [0.        ],
       [       nan],
       [       nan],
       [       nan],
       [0.15352941],
       [0.20074576],
       [0.28811111],
       [0.26422917],
       [0.24580769],
       [0.32234524],
       [0.214     ],
       [0.22703448],
       [0.37370208],
       [       nan],
       [0.33776471],
       [0.2724216 ],
       [       nan],
       [0.        ],
       [0.32317593],
       [0.        ],
       [       nan],
       [0.33437313],
       [0.36681347],
       [0.160375  ],
       [0.21801961],
       [0.3587    ],
       [       nan],
       [       nan],
       [0.29292683],
       [0.38483475],
       [0.27649057],
       [0.24482759],
       [0.19738462],
       [0.29330303],
       [0.27047059],
       [       nan],
       [0.        ],
       [0.15333333],
       [0.        ],
       [0.30504167],
       [0.24844872],
       [0.18916667],
       [       nan],
       [       nan],
       [0.35357143],
       [0.115     ],
       [0.        ],
       [0.33712414],
       [0.15333333],
       [0.2484    ],
       [0.33066667],
       [0.27234286],
       [0.        ],
       [       nan],
       [0.34030435],
       [0.19713043],
       [       nan],
       [0.30666667],
       [       nan],
       [0.        ],
       [0.22477778],
       [0.        ],
       [0.2484    ],
       [       nan],
       [0.35416667],
       [0.35132143],
       [       nan],
       [       nan],
       [       nan],
       [0.28137736],
       [       nan],
       [0.15735714],
       [0.        ],
       [0.37648276],
       [       nan],
       [       nan],
       [       nan],
       [0.25567742],
       [       nan],
       [0.35403571],
       [       nan],
       [0.13142857],
       [       nan],
       [       nan],
       [0.2728125 ],
       [       nan],
       [0.30666667],
       [0.16727273],
       [0.302     ],
       [0.2035618 ],
       [0.18988462],
       [0.        ],
       [       nan],
       [0.        ],
       [       nan],
       [0.0575    ],
       [       nan],
       [0.        ],
       [0.19915909],
       [0.31491716],
       [0.18268182],
       [0.2162    ],
       [       nan],
       [0.2484    ],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [0.        ],
       [       nan],
       [0.35506667],
       [       nan],
       [       nan],
       [0.42766667],
       [       nan],
       [0.5265    ],
       [       nan],
       [0.        ],
       [0.        ],
       [0.46      ],
       [0.38525   ],
       [0.44489247],
       [0.44716883],
       [0.32607692],
       [0.07076923],
       [       nan],
       [0.        ],
       [0.46      ],
       [0.40169643],
       [0.        ],
       [0.38926471],
       [0.        ],
       [0.184     ],
       [0.33944   ],
       [       nan],
       [       nan],
       [       nan],
       [0.        ],
       [       nan],
       [0.23      ],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [0.        ],
       [0.        ]])

In [40]:
for i in range(len(y3_)):
    if (a_[738 + i] + d0_[738 + i] - d1_[738 + i] + d6_[738 + i] + d2_[738 + i]) == 0:
        y3_[i] = 0
        
print(y3_)

[[0.726     ]
 [0.31020917]
 [0.29692248]
 [0.30369231]
 [0.36063351]
 [0.34234081]
 [0.32194144]
 [0.2862    ]
 [0.0575    ]
 [0.39317899]
 [0.34147595]
 [0.39145   ]
 [0.36383704]
 [0.33581658]
 [0.47824268]
 [0.36970922]
 [0.24590411]
 [0.34642174]
 [0.33865076]
 [0.37338608]
 [0.31040597]
 [0.26670345]
 [0.21102564]
 [0.312608  ]
 [0.31919137]
 [0.31314124]
 [0.32215306]
 [0.29974169]
 [0.31144037]
 [0.41049531]
 [0.38698459]
 [0.37516923]
 [0.38131681]
 [0.25053927]
 [0.36477128]
 [0.41157973]
 [0.35745247]
 [0.34124158]
 [0.40624211]
 [0.37737778]
 [0.51195   ]
 [0.347875  ]
 [0.32077806]
 [0.34298351]
 [0.39713793]
 [0.40660584]
 [0.35110294]
 [0.35200645]
 [0.25988832]
 [0.36954113]
 [0.36514978]
 [0.33799781]
 [0.32775281]
 [0.38661851]
 [0.31358252]
 [0.33967969]
 [0.32449807]
 [0.24578195]
 [0.35470299]
 [0.23432   ]
 [0.38831068]
 [0.36204288]
 [0.2677651 ]
 [0.25082677]
 [0.35401078]
 [0.26160465]
 [0.4236099 ]
 [0.2444717 ]
 [0.35068153]
 [0.33553488]
 [0.39636742]
 [0.24946809]
 [0.27244976]
 [0.35111229]
 [0.39889267]
 [0.36600864]
 [0.34232857]
 [0.32135506]
 [0.115     ]
 [0.18328351]
 [0.35642829]
 [0.42183604]
 [0.2825    ]
 [0.41461809]
 [0.3884084 ]
 [0.31017941]
 [0.33839066]
 [0.34478571]
 [0.38524641]
 [0.40644531]
 [0.37150716]
 [0.32      ]
 [0.3160307 ]
 [0.40083726]
 [0.35413942]
 [0.40982183]
 [0.42145752]
 [0.21651613]
 [0.35791897]
 [0.32674721]
 [0.39921673]
 [0.35160374]
 [0.28301456]
 [0.30453368]
 [0.43226298]
 [0.1915    ]
 [0.34772917]
 [0.38114471]
 [0.33662712]
 [0.38380842]
 [0.37599631]
 [0.43067404]
 [0.41356197]
 [0.36646332]
 [0.43822742]
 [0.37203416]
 [0.36890734]
 [0.40203571]
 [0.3040224 ]
 [0.28948171]
 [0.26843443]
 [0.3170724 ]
 [0.28353179]
 [0.18101667]
 [0.31096825]
 [0.        ]
 [0.25980357]
 [0.13716667]
 [0.336     ]
 [0.        ]
 [0.23      ]
 [0.22962222]
 [0.32412291]
 [0.278384  ]
 [0.21932381]
 [0.25748023]
 [0.24638596]
 [0.37258824]
 [0.33396203]
 [0.29794737]
 [0.26212069]
 [0.31963314]
 [0.30749351]
 [0.36535065]
 [0.37944638]
 [0.27609333]
 [0.31324094]
 [0.31574775]
 [0.34276812]
 [0.25989474]
 [0.        ]
 [0.23      ]
 [0.37954082]
 [0.10371429]
 [0.26808462]
 [0.26184615]
 [0.3346    ]
 [0.        ]
 [0.32902759]
 [0.23796053]
 [0.25465753]
 [0.        ]
 [0.38042857]
 [0.        ]
 [0.30397917]
 [0.31076444]
 [0.25683333]
 [0.28825926]
 [0.        ]
 [0.2808    ]
 [0.22352778]
 [0.        ]
 [0.        ]
 [0.17246939]
 [0.37746183]
 [0.29634483]
 [0.115     ]
 [0.        ]
 [0.3040989 ]
 [0.        ]
 [0.36776204]
 [0.15333333]
 [0.36205051]
 [0.31983333]
 [0.34273822]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.15352941]
 [0.20074576]
 [0.28811111]
 [0.26422917]
 [0.24580769]
 [0.32234524]
 [0.214     ]
 [0.22703448]
 [0.37370208]
 [0.        ]
 [0.33776471]
 [0.2724216 ]
 [0.        ]
 [0.        ]
 [0.32317593]
 [0.        ]
 [0.        ]
 [0.33437313]
 [0.36681347]
 [0.160375  ]
 [0.21801961]
 [0.3587    ]
 [0.        ]
 [0.        ]
 [0.29292683]
 [0.38483475]
 [0.27649057]
 [0.24482759]
 [0.19738462]
 [0.29330303]
 [0.27047059]
 [0.        ]
 [0.        ]
 [0.15333333]
 [0.        ]
 [0.30504167]
 [0.24844872]
 [0.18916667]
 [0.        ]
 [0.        ]
 [0.35357143]
 [0.115     ]
 [0.        ]
 [0.33712414]
 [0.15333333]
 [0.2484    ]
 [0.33066667]
 [0.27234286]
 [0.        ]
 [0.        ]
 [0.34030435]
 [0.19713043]
 [0.        ]
 [0.30666667]
 [0.        ]
 [0.        ]
 [0.22477778]
 [0.        ]
 [0.2484    ]
 [0.        ]
 [0.35416667]
 [0.35132143]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.28137736]
 [0.        ]
 [0.15735714]
 [0.        ]
 [0.37648276]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.25567742]
 [0.        ]
 [0.35403571]
 [0.        ]
 [0.13142857]
 [0.        ]
 [0.        ]
 [0.2728125 ]
 [0.        ]
 [0.30666667]
 [0.16727273]
 [0.302     ]
 [0.2035618 ]
 [0.18988462]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.0575    ]
 [0.        ]
 [0.        ]
 [0.19915909]
 [0.31491716]
 [0.18268182]
 [0.2162    ]
 [0.        ]
 [0.2484    ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.35506667]
 [0.        ]
 [0.        ]
 [0.42766667]
 [0.        ]
 [0.5265    ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.46      ]
 [0.38525   ]
 [0.44489247]
 [0.44716883]
 [0.32607692]
 [0.07076923]
 [0.        ]
 [0.        ]
 [0.46      ]
 [0.40169643]
 [0.        ]
 [0.38926471]
 [0.        ]
 [0.184     ]
 [0.33944   ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.23      ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]]

In [41]:
y4_ = ( ( 0.721 * (d0_[1069:1422,] - d1_[1069:1422,]) ) + (0.752 * d2_[1069:1422,]) + (0.945 * c0_[1069:1422,]) + (1.317 * c1_[1069:1422,]) + (1.653 * c2_[1069:1422,]) + (2.074 * c3_[1069:1422,]) ) / (a_[1069:1422,] + d0_[1069:1422,] - d1_[1069:1422,] + d6_[1069:1422,] + d2_[1069:1422,])
y4_

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([[0.31503623],
       [0.34067814],
       [0.28784211],
       [0.21589063],
       [0.35941811],
       [0.32005178],
       [0.40773323],
       [0.36043434],
       [0.36509283],
       [0.34761002],
       [0.38988636],
       [0.32321262],
       [0.30333747],
       [0.25990594],
       [0.36167487],
       [0.36475839],
       [0.39434328],
       [0.32766601],
       [0.33615888],
       [0.16090698],
       [0.31350386],
       [0.28976027],
       [0.36061044],
       [0.22853659],
       [0.3102133 ],
       [0.31598812],
       [0.26173171],
       [0.40684119],
       [0.39283618],
       [0.4145489 ],
       [0.32074836],
       [0.33080412],
       [0.25644944],
       [0.38077718],
       [0.36005036],
       [0.411125  ],
       [0.37272277],
       [0.28667888],
       [0.33026253],
       [0.34078261],
       [0.31086978],
       [0.35053118],
       [0.3025    ],
       [0.28521786],
       [0.29134409],
       [0.25833597],
       [0.34750691],
       [0.26756522],
       [0.33046797],
       [0.32107009],
       [0.40641348],
       [0.36576792],
       [0.33656134],
       [0.36415417],
       [0.34389367],
       [0.30623684],
       [0.33460482],
       [0.28376528],
       [0.36338986],
       [0.13773333],
       [0.16714894],
       [0.36769042],
       [0.29041129],
       [0.30801509],
       [0.34936009],
       [0.34820992],
       [0.30618629],
       [0.35079058],
       [0.31465944],
       [0.33856511],
       [0.21104878],
       [0.27874882],
       [0.40623132],
       [0.32777726],
       [0.32583929],
       [0.31613103],
       [0.29359639],
       [0.39646119],
       [0.32848586],
       [0.34784768],
       [0.45201319],
       [0.37060779],
       [0.33791978],
       [0.29683945],
       [0.28942506],
       [0.24720833],
       [0.39794032],
       [0.29457385],
       [0.26303139],
       [0.27650649],
       [0.13444444],
       [0.26143333],
       [0.32282723],
       [0.38791707],
       [0.18619307],
       [0.42048366],
       [0.26325604],
       [0.33932632],
       [0.36011193],
       [0.42162239],
       [0.3827852 ],
       [0.26956481],
       [0.32122099],
       [0.3540636 ],
       [0.35427801],
       [0.3792272 ],
       [0.30667797],
       [0.2986358 ],
       [0.25945161],
       [0.29490645],
       [0.22334783],
       [0.2996789 ],
       [0.31333429],
       [0.12016667],
       [0.23786911],
       [0.28762302],
       [0.27178049],
       [0.35333398],
       [0.28482427],
       [0.3121531 ],
       [0.35560197],
       [0.24943966],
       [0.27478571],
       [0.32380714],
       [0.24388095],
       [0.311664  ],
       [0.27564955],
       [0.34967167],
       [0.22585106],
       [0.        ],
       [0.30117178],
       [0.29816393],
       [0.310625  ],
       [0.26997059],
       [0.35571429],
       [0.        ],
       [0.31725   ],
       [0.18511111],
       [       nan],
       [0.20917647],
       [0.26926556],
       [0.29084848],
       [0.24021569],
       [0.26195918],
       [0.33116667],
       [0.24972727],
       [       nan],
       [0.26130841],
       [0.45983333],
       [0.14633333],
       [0.09425   ],
       [0.2874439 ],
       [       nan],
       [0.33313953],
       [0.31476142],
       [       nan],
       [0.30313793],
       [       nan],
       [0.30557377],
       [0.30925581],
       [       nan],
       [0.19725843],
       [0.14577273],
       [       nan],
       [0.        ],
       [0.30591379],
       [       nan],
       [0.266525  ],
       [0.48322642],
       [0.29894426],
       [0.22313115],
       [0.32437374],
       [       nan],
       [0.22961538],
       [0.22505   ],
       [0.29145336],
       [       nan],
       [0.32703077],
       [0.        ],
       [0.31143103],
       [0.31671429],
       [0.29587037],
       [       nan],
       [       nan],
       [       nan],
       [0.32291385],
       [0.37408475],
       [0.30109677],
       [0.3045625 ],
       [0.29702395],
       [0.2623913 ],
       [0.3045625 ],
       [0.30835185],
       [0.38834034],
       [0.28318261],
       [       nan],
       [0.2936    ],
       [0.30334615],
       [0.21807692],
       [       nan],
       [       nan],
       [0.32956589],
       [0.34574242],
       [0.28689091],
       [0.21758333],
       [0.24502083],
       [0.        ],
       [       nan],
       [0.135     ],
       [       nan],
       [       nan],
       [0.24669231],
       [0.20860714],
       [0.24934579],
       [0.32910145],
       [0.34497727],
       [0.11106667],
       [       nan],
       [0.298375  ],
       [0.        ],
       [0.30930435],
       [       nan],
       [       nan],
       [0.29482979],
       [0.        ],
       [0.29973864],
       [0.19603846],
       [0.22252632],
       [       nan],
       [0.24377778],
       [0.24545   ],
       [0.2242    ],
       [0.35203333],
       [       nan],
       [       nan],
       [0.        ],
       [0.24242857],
       [       nan],
       [0.15913333],
       [       nan],
       [0.27659804],
       [0.118125  ],
       [       nan],
       [0.18025   ],
       [0.34197129],
       [0.1699    ],
       [       nan],
       [0.28426316],
       [0.3909901 ],
       [0.        ],
       [0.15095   ],
       [       nan],
       [0.16847692],
       [0.39344862],
       [0.2387    ],
       [0.        ],
       [       nan],
       [0.25695833],
       [       nan],
       [0.25752857],
       [0.21970588],
       [0.25031111],
       [0.22432609],
       [0.31370588],
       [0.2645    ],
       [       nan],
       [       nan],
       [       nan],
       [0.22121127],
       [0.25695833],
       [0.        ],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [0.        ],
       [0.22878723],
       [0.31984314],
       [       nan],
       [0.63      ],
       [0.        ],
       [0.2388    ],
       [0.0823125 ],
       [       nan],
       [0.3332    ],
       [0.30359091],
       [0.        ],
       [       nan],
       [0.4873    ],
       [0.16336957],
       [0.23357576],
       [0.29124324],
       [0.25772727],
       [0.105     ],
       [0.        ],
       [0.        ],
       [0.3606791 ],
       [0.41555556],
       [       nan],
       [0.        ],
       [       nan],
       [0.27084211],
       [0.26240909],
       [       nan],
       [0.17181818],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [0.33240351],
       [0.23625   ],
       [0.        ],
       [0.        ],
       [0.36402804],
       [       nan],
       [0.23625   ],
       [0.        ],
       [0.3386369 ],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [0.29171429],
       [       nan],
       [0.25234375],
       [0.22704348],
       [       nan],
       [0.        ],
       [0.        ],
       [0.3207    ],
       [0.33893478],
       [       nan],
       [0.17068571],
       [0.15145455],
       [0.28635484],
       [0.29462162],
       [       nan],
       [0.126     ],
       [0.        ],
       [       nan],
       [0.27      ],
       [0.2768    ],
       [0.27484211],
       [       nan],
       [0.        ],
       [0.135     ],
       [0.29154545],
       [0.341     ],
       [0.        ],
       [0.        ],
       [       nan],
       [0.344875  ]])

In [42]:
for i in range(len(y4_)):
    if (a_[1069 + i] + d0_[1069 + i] - d1_[1069 + i] + d6_[1069 + i] + d2_[1069 + i]) == 0:
        y4_[i] = 0
        
print(y4_)

[[0.31503623]
 [0.34067814]
 [0.28784211]
 [0.21589063]
 [0.35941811]
 [0.32005178]
 [0.40773323]
 [0.36043434]
 [0.36509283]
 [0.34761002]
 [0.38988636]
 [0.32321262]
 [0.30333747]
 [0.25990594]
 [0.36167487]
 [0.36475839]
 [0.39434328]
 [0.32766601]
 [0.33615888]
 [0.16090698]
 [0.31350386]
 [0.28976027]
 [0.36061044]
 [0.22853659]
 [0.3102133 ]
 [0.31598812]
 [0.26173171]
 [0.40684119]
 [0.39283618]
 [0.4145489 ]
 [0.32074836]
 [0.33080412]
 [0.25644944]
 [0.38077718]
 [0.36005036]
 [0.411125  ]
 [0.37272277]
 [0.28667888]
 [0.33026253]
 [0.34078261]
 [0.31086978]
 [0.35053118]
 [0.3025    ]
 [0.28521786]
 [0.29134409]
 [0.25833597]
 [0.34750691]
 [0.26756522]
 [0.33046797]
 [0.32107009]
 [0.40641348]
 [0.36576792]
 [0.33656134]
 [0.36415417]
 [0.34389367]
 [0.30623684]
 [0.33460482]
 [0.28376528]
 [0.36338986]
 [0.13773333]
 [0.16714894]
 [0.36769042]
 [0.29041129]
 [0.30801509]
 [0.34936009]
 [0.34820992]
 [0.30618629]
 [0.35079058]
 [0.31465944]
 [0.33856511]
 [0.21104878]
 [0.27874882]
 [0.40623132]
 [0.32777726]
 [0.32583929]
 [0.31613103]
 [0.29359639]
 [0.39646119]
 [0.32848586]
 [0.34784768]
 [0.45201319]
 [0.37060779]
 [0.33791978]
 [0.29683945]
 [0.28942506]
 [0.24720833]
 [0.39794032]
 [0.29457385]
 [0.26303139]
 [0.27650649]
 [0.13444444]
 [0.26143333]
 [0.32282723]
 [0.38791707]
 [0.18619307]
 [0.42048366]
 [0.26325604]
 [0.33932632]
 [0.36011193]
 [0.42162239]
 [0.3827852 ]
 [0.26956481]
 [0.32122099]
 [0.3540636 ]
 [0.35427801]
 [0.3792272 ]
 [0.30667797]
 [0.2986358 ]
 [0.25945161]
 [0.29490645]
 [0.22334783]
 [0.2996789 ]
 [0.31333429]
 [0.12016667]
 [0.23786911]
 [0.28762302]
 [0.27178049]
 [0.35333398]
 [0.28482427]
 [0.3121531 ]
 [0.35560197]
 [0.24943966]
 [0.27478571]
 [0.32380714]
 [0.24388095]
 [0.311664  ]
 [0.27564955]
 [0.34967167]
 [0.22585106]
 [0.        ]
 [0.30117178]
 [0.29816393]
 [0.310625  ]
 [0.26997059]
 [0.35571429]
 [0.        ]
 [0.31725   ]
 [0.18511111]
 [0.        ]
 [0.20917647]
 [0.26926556]
 [0.29084848]
 [0.24021569]
 [0.26195918]
 [0.33116667]
 [0.24972727]
 [0.        ]
 [0.26130841]
 [0.45983333]
 [0.14633333]
 [0.09425   ]
 [0.2874439 ]
 [0.        ]
 [0.33313953]
 [0.31476142]
 [0.        ]
 [0.30313793]
 [0.        ]
 [0.30557377]
 [0.30925581]
 [0.        ]
 [0.19725843]
 [0.14577273]
 [0.        ]
 [0.        ]
 [0.30591379]
 [0.        ]
 [0.266525  ]
 [0.48322642]
 [0.29894426]
 [0.22313115]
 [0.32437374]
 [0.        ]
 [0.22961538]
 [0.22505   ]
 [0.29145336]
 [0.        ]
 [0.32703077]
 [0.        ]
 [0.31143103]
 [0.31671429]
 [0.29587037]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.32291385]
 [0.37408475]
 [0.30109677]
 [0.3045625 ]
 [0.29702395]
 [0.2623913 ]
 [0.3045625 ]
 [0.30835185]
 [0.38834034]
 [0.28318261]
 [0.        ]
 [0.2936    ]
 [0.30334615]
 [0.21807692]
 [0.        ]
 [0.        ]
 [0.32956589]
 [0.34574242]
 [0.28689091]
 [0.21758333]
 [0.24502083]
 [0.        ]
 [0.        ]
 [0.135     ]
 [0.        ]
 [0.        ]
 [0.24669231]
 [0.20860714]
 [0.24934579]
 [0.32910145]
 [0.34497727]
 [0.11106667]
 [0.        ]
 [0.298375  ]
 [0.        ]
 [0.30930435]
 [0.        ]
 [0.        ]
 [0.29482979]
 [0.        ]
 [0.29973864]
 [0.19603846]
 [0.22252632]
 [0.        ]
 [0.24377778]
 [0.24545   ]
 [0.2242    ]
 [0.35203333]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.24242857]
 [0.        ]
 [0.15913333]
 [0.        ]
 [0.27659804]
 [0.118125  ]
 [0.        ]
 [0.18025   ]
 [0.34197129]
 [0.1699    ]
 [0.        ]
 [0.28426316]
 [0.3909901 ]
 [0.        ]
 [0.15095   ]
 [0.        ]
 [0.16847692]
 [0.39344862]
 [0.2387    ]
 [0.        ]
 [0.        ]
 [0.25695833]
 [0.        ]
 [0.25752857]
 [0.21970588]
 [0.25031111]
 [0.22432609]
 [0.31370588]
 [0.2645    ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.22121127]
 [0.25695833]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.22878723]
 [0.31984314]
 [0.        ]
 [0.63      ]
 [0.        ]
 [0.2388    ]
 [0.0823125 ]
 [0.        ]
 [0.3332    ]
 [0.30359091]
 [0.        ]
 [0.        ]
 [0.4873    ]
 [0.16336957]
 [0.23357576]
 [0.29124324]
 [0.25772727]
 [0.105     ]
 [0.        ]
 [0.        ]
 [0.3606791 ]
 [0.41555556]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.27084211]
 [0.26240909]
 [0.        ]
 [0.17181818]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.33240351]
 [0.23625   ]
 [0.        ]
 [0.        ]
 [0.36402804]
 [0.        ]
 [0.23625   ]
 [0.        ]
 [0.3386369 ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.29171429]
 [0.        ]
 [0.25234375]
 [0.22704348]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.3207    ]
 [0.33893478]
 [0.        ]
 [0.17068571]
 [0.15145455]
 [0.28635484]
 [0.29462162]
 [0.        ]
 [0.126     ]
 [0.        ]
 [0.        ]
 [0.27      ]
 [0.2768    ]
 [0.27484211]
 [0.        ]
 [0.        ]
 [0.135     ]
 [0.29154545]
 [0.341     ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.344875  ]]

In [43]:
y5_ = ( ( 0.730 * (d0_[1422:,] - d1_[1422:,]) ) + (0.758 * d2_[1422:,]) + (0.935 * c0_[1422:,]) + (1.277 * c1_[1422:,]) + (1.585 * c2_[1422:,]) + (1.942 * c3_[1422:,]) ) / (a_[1422:,] + d0_[1422:,] - d1_[1422:,] + d6_[1422:,] + d2_[1422:,])
y5_

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([[0.32982222],
       [0.23719318],
       [0.32470238],
       [0.3772809 ],
       [0.22656   ],
       [0.22456   ],
       [0.33796154],
       [0.37527863],
       [0.26241791],
       [0.33871255],
       [0.28343636],
       [0.31473118],
       [0.24556643],
       [0.32991928],
       [0.1961129 ],
       [0.284     ],
       [0.41991532],
       [0.26368702],
       [0.13112766],
       [0.34715   ],
       [0.31853714],
       [0.265     ],
       [0.33655823],
       [0.38716129],
       [0.321375  ],
       [0.26263158],
       [0.39634926],
       [0.37505854],
       [0.49674643],
       [0.39990094],
       [0.17091954],
       [0.32891176],
       [0.38778599],
       [0.37380769],
       [0.3597933 ],
       [0.29191628],
       [0.36764854],
       [0.36574074],
       [0.40250545],
       [0.36778261],
       [0.34522222],
       [0.33434979],
       [0.26560377],
       [0.40165031],
       [0.4128664 ],
       [0.13545455],
       [0.31833721],
       [0.28160163],
       [0.42659444],
       [0.3187    ],
       [0.34240404],
       [0.36009877],
       [0.35735961],
       [0.3182093 ],
       [0.41700376],
       [       nan],
       [0.34604545],
       [0.31626596],
       [1.277     ],
       [0.38375243],
       [0.3528141 ],
       [0.35680093],
       [       nan],
       [0.39307353],
       [0.32575342],
       [0.3015873 ],
       [0.40003831],
       [0.41404583],
       [0.22520833],
       [0.32528972],
       [0.32920301],
       [0.34861765],
       [0.22918367],
       [0.44858054],
       [0.34379699],
       [0.34196257],
       [0.42521327],
       [0.28549315],
       [0.40826596],
       [0.331125  ],
       [0.34141322],
       [0.29234043],
       [0.37649466],
       [0.3469876 ],
       [0.31049194],
       [0.31949309],
       [0.39041176],
       [0.31638839],
       [0.41825389],
       [0.14802703],
       [0.37281977],
       [0.206     ],
       [0.25006316],
       [0.4675    ],
       [0.22956667],
       [0.19057692],
       [0.32721014],
       [0.39522997],
       [0.33097436],
       [0.283016  ],
       [0.31914516],
       [0.21457143],
       [0.31608824],
       [0.28998936],
       [0.35229915],
       [0.44787805],
       [       nan],
       [0.        ],
       [0.32802174],
       [       nan],
       [0.41746691],
       [0.41180952],
       [0.26726562],
       [0.3685303 ],
       [0.38090647],
       [0.42786624],
       [0.3760535 ],
       [0.15583333],
       [0.20048649],
       [0.38437915],
       [0.35274675],
       [0.31497382],
       [0.28532692],
       [0.24256757],
       [0.26134259],
       [0.31948322],
       [0.27551049],
       [0.32448148],
       [0.25466667],
       [0.24042857],
       [0.30103226],
       [0.41535821],
       [0.31675   ],
       [0.36535766],
       [0.36992218],
       [0.30601439],
       [0.38638667],
       [0.27410526],
       [0.2312973 ],
       [0.24325   ],
       [0.28463366],
       [0.27343636],
       [0.24986957],
       [       nan],
       [0.23758929],
       [0.32165493],
       [0.        ],
       [0.20446429],
       [0.24545763],
       [       nan],
       [0.23978378],
       [0.43009302],
       [0.23375   ],
       [0.23375   ],
       [0.24998851],
       [0.        ],
       [0.37473611],
       [0.3442381 ],
       [0.41391892],
       [0.42160526],
       [0.17234426],
       [0.43026   ],
       [0.32021053],
       [0.27031818],
       [0.24185714],
       [0.28355556],
       [       nan],
       [0.29893043],
       [0.23984906],
       [0.32310101],
       [       nan],
       [0.        ],
       [0.09842105],
       [0.31129885],
       [0.28722727],
       [       nan],
       [       nan],
       [0.30035185],
       [0.35367717],
       [       nan],
       [       nan],
       [0.30988462],
       [0.32015152],
       [0.224     ],
       [       nan],
       [       nan],
       [0.33984848],
       [0.23386567],
       [       nan],
       [       nan],
       [0.2554    ],
       [       nan],
       [0.19386364],
       [0.374     ],
       [0.42325   ],
       [0.39787805],
       [0.28530769],
       [       nan],
       [0.30876471],
       [       nan],
       [0.22423529],
       [       nan],
       [       nan],
       [0.25032394],
       [       nan],
       [0.        ],
       [       nan],
       [       nan],
       [       nan],
       [0.31877778],
       [       nan],
       [       nan],
       [       nan],
       [0.33676   ],
       [0.24333333],
       [       nan],
       [0.33064286],
       [       nan],
       [0.3410098 ],
       [0.        ],
       [       nan],
       [0.33365487],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [0.40109302],
       [0.31369811],
       [0.24666667],
       [0.22443182],
       [0.29694737],
       [0.30278947],
       [       nan],
       [0.18716667],
       [0.        ],
       [0.36761111],
       [0.32951282],
       [0.228625  ],
       [0.27025   ],
       [0.22530435],
       [0.        ],
       [0.159625  ],
       [0.35622222],
       [0.36909091],
       [0.33384615],
       [0.2775    ],
       [0.36331818],
       [0.20777778],
       [0.24333333],
       [       nan],
       [       nan],
       [0.26553968],
       [0.935     ],
       [0.2765    ],
       [0.26795833],
       [       nan],
       [       nan],
       [       nan],
       [0.        ],
       [0.37142857],
       [0.        ],
       [0.24761905],
       [0.        ],
       [       nan],
       [0.505     ],
       [0.333     ],
       [0.237175  ],
       [0.26226923],
       [0.3565    ],
       [       nan],
       [0.        ],
       [       nan],
       [0.1665    ],
       [       nan],
       [0.4293    ],
       [       nan],
       [       nan],
       [0.        ],
       [0.        ],
       [       nan],
       [0.21666667],
       [0.18242857],
       [       nan],
       [0.42088   ],
       [       nan],
       [       nan],
       [0.22423529],
       [       nan],
       [       nan],
       [       nan],
       [0.37405714],
       [       nan],
       [       nan],
       [0.30445   ],
       [0.28609091],
       [0.41710526],
       [       nan],
       [       nan],
       [0.59575   ]])

In [44]:
for i in range(len(y5_)):
    if (a_[1422 + i] + d0_[1422 + i] - d1_[1422 + i] + d6_[1422 + i] + d2_[1422 + i]) == 0:
        y5_[i] = 0
        
print(y5_)

[[0.32982222]
 [0.23719318]
 [0.32470238]
 [0.3772809 ]
 [0.22656   ]
 [0.22456   ]
 [0.33796154]
 [0.37527863]
 [0.26241791]
 [0.33871255]
 [0.28343636]
 [0.31473118]
 [0.24556643]
 [0.32991928]
 [0.1961129 ]
 [0.284     ]
 [0.41991532]
 [0.26368702]
 [0.13112766]
 [0.34715   ]
 [0.31853714]
 [0.265     ]
 [0.33655823]
 [0.38716129]
 [0.321375  ]
 [0.26263158]
 [0.39634926]
 [0.37505854]
 [0.49674643]
 [0.39990094]
 [0.17091954]
 [0.32891176]
 [0.38778599]
 [0.37380769]
 [0.3597933 ]
 [0.29191628]
 [0.36764854]
 [0.36574074]
 [0.40250545]
 [0.36778261]
 [0.34522222]
 [0.33434979]
 [0.26560377]
 [0.40165031]
 [0.4128664 ]
 [0.13545455]
 [0.31833721]
 [0.28160163]
 [0.42659444]
 [0.3187    ]
 [0.34240404]
 [0.36009877]
 [0.35735961]
 [0.3182093 ]
 [0.41700376]
 [0.        ]
 [0.34604545]
 [0.31626596]
 [1.277     ]
 [0.38375243]
 [0.3528141 ]
 [0.35680093]
 [0.        ]
 [0.39307353]
 [0.32575342]
 [0.3015873 ]
 [0.40003831]
 [0.41404583]
 [0.22520833]
 [0.32528972]
 [0.32920301]
 [0.34861765]
 [0.22918367]
 [0.44858054]
 [0.34379699]
 [0.34196257]
 [0.42521327]
 [0.28549315]
 [0.40826596]
 [0.331125  ]
 [0.34141322]
 [0.29234043]
 [0.37649466]
 [0.3469876 ]
 [0.31049194]
 [0.31949309]
 [0.39041176]
 [0.31638839]
 [0.41825389]
 [0.14802703]
 [0.37281977]
 [0.206     ]
 [0.25006316]
 [0.4675    ]
 [0.22956667]
 [0.19057692]
 [0.32721014]
 [0.39522997]
 [0.33097436]
 [0.283016  ]
 [0.31914516]
 [0.21457143]
 [0.31608824]
 [0.28998936]
 [0.35229915]
 [0.44787805]
 [0.        ]
 [0.        ]
 [0.32802174]
 [0.        ]
 [0.41746691]
 [0.41180952]
 [0.26726562]
 [0.3685303 ]
 [0.38090647]
 [0.42786624]
 [0.3760535 ]
 [0.15583333]
 [0.20048649]
 [0.38437915]
 [0.35274675]
 [0.31497382]
 [0.28532692]
 [0.24256757]
 [0.26134259]
 [0.31948322]
 [0.27551049]
 [0.32448148]
 [0.25466667]
 [0.24042857]
 [0.30103226]
 [0.41535821]
 [0.31675   ]
 [0.36535766]
 [0.36992218]
 [0.30601439]
 [0.38638667]
 [0.27410526]
 [0.2312973 ]
 [0.24325   ]
 [0.28463366]
 [0.27343636]
 [0.24986957]
 [0.        ]
 [0.23758929]
 [0.32165493]
 [0.        ]
 [0.20446429]
 [0.24545763]
 [0.        ]
 [0.23978378]
 [0.43009302]
 [0.23375   ]
 [0.23375   ]
 [0.24998851]
 [0.        ]
 [0.37473611]
 [0.3442381 ]
 [0.41391892]
 [0.42160526]
 [0.17234426]
 [0.43026   ]
 [0.32021053]
 [0.27031818]
 [0.24185714]
 [0.28355556]
 [0.        ]
 [0.29893043]
 [0.23984906]
 [0.32310101]
 [0.        ]
 [0.        ]
 [0.09842105]
 [0.31129885]
 [0.28722727]
 [0.        ]
 [0.        ]
 [0.30035185]
 [0.35367717]
 [0.        ]
 [0.        ]
 [0.30988462]
 [0.32015152]
 [0.224     ]
 [0.        ]
 [0.        ]
 [0.33984848]
 [0.23386567]
 [0.        ]
 [0.        ]
 [0.2554    ]
 [0.        ]
 [0.19386364]
 [0.374     ]
 [0.42325   ]
 [0.39787805]
 [0.28530769]
 [0.        ]
 [0.30876471]
 [0.        ]
 [0.22423529]
 [0.        ]
 [0.        ]
 [0.25032394]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.31877778]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.33676   ]
 [0.24333333]
 [0.        ]
 [0.33064286]
 [0.        ]
 [0.3410098 ]
 [0.        ]
 [0.        ]
 [0.33365487]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.40109302]
 [0.31369811]
 [0.24666667]
 [0.22443182]
 [0.29694737]
 [0.30278947]
 [0.        ]
 [0.18716667]
 [0.        ]
 [0.36761111]
 [0.32951282]
 [0.228625  ]
 [0.27025   ]
 [0.22530435]
 [0.        ]
 [0.159625  ]
 [0.35622222]
 [0.36909091]
 [0.33384615]
 [0.2775    ]
 [0.36331818]
 [0.20777778]
 [0.24333333]
 [0.        ]
 [0.        ]
 [0.26553968]
 [0.935     ]
 [0.2765    ]
 [0.26795833]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.37142857]
 [0.        ]
 [0.24761905]
 [0.        ]
 [0.        ]
 [0.505     ]
 [0.333     ]
 [0.237175  ]
 [0.26226923]
 [0.3565    ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.1665    ]
 [0.        ]
 [0.4293    ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.21666667]
 [0.18242857]
 [0.        ]
 [0.42088   ]
 [0.        ]
 [0.        ]
 [0.22423529]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.37405714]
 [0.        ]
 [0.        ]
 [0.30445   ]
 [0.28609091]
 [0.41710526]
 [0.        ]
 [0.        ]
 [0.59575   ]]

In [45]:
# 년도 별로 각기 다른 wOBA 계산 후 다시 병합
x6_ = np.append(y1_,y2_)
x6_ = np.append(x6_,y3_)
x6_ = np.append(x6_,y4_)
x6_ = np.append(x6_,y5_)
print(x6_.shape)

x6 = pd.DataFrame(x6_)
x6.columns = ['wOBA']
x6

(1721,)

          wOBA
0     0.139220
1     0.321270
2     0.362494
3     0.372022
4     0.331970
...        ...
1716  0.286091
1717  0.417105
1718  0.000000
1719  0.000000
1720  0.595750

[1721 rows x 1 columns]

# wRC = wOBA기반 득점생산
* [ {(wOBA - 리그 wOBA) / (wOBA scale)} + (리그 득점/리그 타석) ] * 타석

In [46]:
# wRC 계산
z1_ = (((y1_ - 0.362)/1.097) + (0.140 * a2_[0:378,]))
z2_ = (((y2_ - 0.351)/1.107) + (0.135 * a2_[378:738,]))
z3_ = (((y3_ - 0.351)/1.075) + (0.141 * a2_[738:1069,]))
z4_ = (((y4_ - 0.335)/1.242) + (0.118 * a2_[1069:1422,]))
z5_ = (((y5_ - 0.346)/1.14) + (0.134 * a2_[1422:,]))

In [47]:
x4_ = np.append(z1_,z2_)
x4_ = np.append(x4_,z3_)
x4_ = np.append(x4_,z4_)
x4_ = np.append(x4_,z5_)

x4 = pd.DataFrame(x4_)
x4.columns = ['wRC']
x4

            wRC
0      7.076919
1     41.542871
2     44.800450
3     19.189136
4     61.712625
...         ...
1716   1.421448
1717   2.608373
1718  -0.303509
1719  -0.303509
1720   1.291079

[1721 rows x 1 columns]

# wRAA = 리그평균 대비 득점생산
* 타석 * (wOBA - 리그 wOBA) / (wOBA scale)

In [48]:
# wRAA 계산
w1_ = (((y1_ - 0.362)/1.097) * a2_[0:378,])
w2_ = (((y2_ - 0.351)/1.107) * a2_[378:738,])
w3_ = (((y3_ - 0.351)/1.075) * a2_[738:1069,])
w4_ = (((y4_ - 0.335)/1.242) * a2_[1069:1422,])
w5_ = (((y5_ - 0.346)/1.14)  * a2_[1422:,])

x5_ = np.append(w1_,w2_)
x5_ = np.append(x5_,w3_)
x5_ = np.append(x5_,w4_)
x5_ = np.append(x5_,w5_)

x5 = pd.DataFrame(x5_)
x5.columns=['wRAA']
x5

           wRAA
0    -10.560219
1    -11.027276
2      0.143994
3      1.251615
4    -12.072261
...         ...
1716  -0.578070
1717   1.185088
1718  -0.000000
1719  -0.000000
1720   1.752632

[1721 rows x 1 columns]

# wRC+
* [ {(wRAA / 타석) / (리그 득점/리그 타석)} + 1] * 100

In [49]:
# wRC+ 계산
p1_ = w1_/(0.140 * a2_[0:378,])
p2_ = w2_/(0.135 * a2_[378:738,])
p3_ = w3_/(0.141 * a2_[738:1069,])
p4_ = w4_/(0.118 * a2_[1069:1422,])
p5_ = w5_/(0.134 * a2_[1422:,])

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in true_divide
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in true_divide
  after removing the cwd from sys.path.
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in true_divide
  """
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in true_divide

In [50]:
for i in range(len(p1_)):
    if a2_[i] == 0:
        p1_[i] = 0
        
print(p1_)

[[-1.45057950e+00]
 [-2.65206247e-01]
 [ 3.21415922e-03]
 [ 6.52562757e-02]
 [-1.95533875e-01]
 [-1.08905072e+00]
 [-9.13641576e-01]
 [ 8.92189555e-02]
 [-2.75960903e-01]
 [ 1.75205014e-01]
 [-2.58790845e-01]
 [ 3.26216817e-01]
 [-5.46533739e-01]
 [-8.13150937e-02]
 [ 6.56532218e-01]
 [-6.32642859e-01]
 [ 2.24939757e-01]
 [ 1.01449702e-01]
 [ 2.38720215e-01]
 [-4.38939778e-01]
 [ 1.28121960e-01]
 [ 4.13437310e-02]
 [ 7.34083375e-02]
 [-4.76650095e-01]
 [ 2.93224427e-02]
 [-1.18629038e+00]
 [-3.61782133e-01]
 [-1.07807936e+00]
 [ 7.19557942e-02]
 [-1.75483163e-01]
 [ 2.14639183e-01]
 [-4.53688106e-02]
 [ 2.17576407e-01]
 [-1.07667376e+00]
 [ 1.28489751e-01]
 [ 6.57637713e-01]
 [-2.21941844e-01]
 [ 3.52915245e-01]
 [ 3.18145328e-01]
 [-3.11955413e-01]
 [-7.12841912e-01]
 [ 1.20731767e-01]
 [-5.23183458e-01]
 [ 1.07124897e-02]
 [-6.19998035e-01]
 [ 4.17604692e-01]
 [ 9.94064291e-02]
 [-1.97827536e-01]
 [-5.53631115e-01]
 [ 5.74508332e-01]
 [-6.06215419e-01]
 [-1.21913037e-02]
 [ 2.32988199e-01]
 [-6.04012421e-01]
 [-6.43417710e-01]
 [-4.79805473e-02]
 [-3.06915579e-01]
 [-3.50046638e-01]
 [ 4.16562116e-02]
 [ 1.37561926e-03]
 [ 3.46580597e-01]
 [-1.11858895e-01]
 [ 2.79090670e-01]
 [-5.01479147e-02]
 [ 8.66221238e-02]
 [ 4.07449921e-01]
 [ 6.46165485e-03]
 [-8.74210457e-03]
 [-3.03433167e-01]
 [-7.67957137e-01]
 [-4.61138145e-01]
 [-4.16720927e-01]
 [-4.58868166e-02]
 [ 2.44872803e-01]
 [-1.64201702e-01]
 [-2.34501985e-01]
 [ 7.51566167e-02]
 [-5.89652452e-01]
 [ 9.61042448e-02]
 [ 5.78681792e-02]
 [-1.93100473e-01]
 [-4.39872090e-02]
 [ 2.37237657e-01]
 [ 1.26655663e-01]
 [-3.62334568e-01]
 [-5.54150169e-01]
 [-2.85316874e-01]
 [ 7.98374652e-02]
 [ 4.13293946e-01]
 [ 4.67326018e-01]
 [ 3.58483896e-01]
 [-3.15615459e-01]
 [-5.94605988e-01]
 [-1.51449508e-01]
 [ 2.88465513e-01]
 [ 1.24110363e-01]
 [ 1.87699134e-01]
 [-2.64199489e-01]
 [-2.62994042e-01]
 [-1.35118370e-01]
 [ 4.31490381e-01]
 [-6.87745716e-02]
 [-1.12775101e+00]
 [-1.41463250e+00]
 [-6.61454661e-01]
 [ 4.12849365e-01]
 [ 1.45132658e-01]
 [ 1.16854831e-01]
 [ 7.70773602e-01]
 [-2.98257922e-02]
 [ 1.00114014e-01]
 [ 4.54315900e-01]
 [ 3.98789907e-01]
 [ 2.54040877e-01]
 [-1.99266519e-01]
 [-1.66986804e-01]
 [ 3.36156177e-01]
 [-4.07159535e-01]
 [-9.49865859e-02]
 [-3.34443728e-01]
 [-2.26072370e-01]
 [-8.56745327e-02]
 [ 2.21801723e-01]
 [-8.56056871e-01]
 [-4.92877995e-01]
 [-9.42752173e-01]
 [-1.28772963e-01]
 [-5.09669228e-01]
 [-8.96210444e-01]
 [-1.41144179e+00]
 [-7.10876876e-01]
 [ 2.88020226e-01]
 [-1.37933787e+00]
 [-4.77372150e-01]
 [ 1.30532909e-01]
 [ 2.55751145e-01]
 [ 6.39511761e-02]
 [-6.74154091e-01]
 [-1.16776161e+00]
 [ 1.79853830e-01]
 [-5.16406658e-01]
 [-4.26406024e-01]
 [-1.46996729e-01]
 [-6.84544556e-01]
 [-9.66797560e-01]
 [-1.33422438e-01]
 [-4.49674278e-01]
 [-1.70855580e+00]
 [-7.00152440e-01]
 [-1.14536243e+00]
 [ 7.25802513e-01]
 [-7.84142280e-01]
 [-4.53020440e-01]
 [ 0.00000000e+00]
 [-9.27312584e-01]
 [ 1.53315656e-01]
 [-6.85162604e-02]
 [-1.05572295e+00]
 [-4.80816187e-01]
 [-2.08375330e-01]
 [-6.85396262e-04]
 [-7.67399029e-02]
 [-9.58806623e-02]
 [ 0.00000000e+00]
 [-1.61068122e-02]
 [-2.35707774e+00]
 [ 2.00657776e-01]
 [-4.67197140e-01]
 [ 3.09422274e-01]
 [ 5.18676957e-01]
 [-8.08568824e-01]
 [ 0.00000000e+00]
 [-5.44845809e-01]
 [ 0.00000000e+00]
 [-3.79409187e-01]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-2.35707774e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 9.54446223e-03]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-8.16105613e-01]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-2.63055085e-01]
 [-2.35707774e+00]
 [ 3.61430359e-02]
 [-7.58000997e-01]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-1.84485827e+00]
 [ 0.00000000e+00]
 [-4.05341816e-01]
 [ 2.26395849e-02]
 [ 2.06998274e-01]
 [-2.57258783e-02]
 [ 0.00000000e+00]
 [-2.35707774e+00]
 [ 0.00000000e+00]
 [-8.48976147e-02]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 1.59011229e-01]
 [-9.20953249e-01]
 [ 0.00000000e+00]
 [-7.91603517e-01]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 1.68294483e-01]
 [ 5.83881652e-02]
 [-3.00729564e-01]
 [-7.50275249e-01]
 [-1.34783175e+00]
 [ 5.12490776e-01]
 [-8.66901199e-02]
 [-3.55515041e-01]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-7.59027403e-01]
 [ 7.16239094e-01]
 [-2.35707774e+00]
 [ 0.00000000e+00]
 [-7.05495507e-01]
 [-4.50724197e-01]
 [ 2.13732257e-01]
 [-7.04725272e-01]
 [ 0.00000000e+00]
 [-2.35707774e+00]
 [-6.43199692e-01]
 [-6.85087162e-01]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-9.10130081e-01]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-6.41359552e-01]
 [-1.30845410e+00]
 [-4.17290663e-01]
 [ 2.08061095e-02]
 [ 1.77664502e+00]
 [ 0.00000000e+00]
 [ 1.01575726e-01]
 [-1.23950799e+00]
 [ 0.00000000e+00]
 [-4.98072821e-03]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-2.35707774e+00]
 [-1.33263880e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 1.29638209e-01]
 [-4.79174042e-02]
 [ 0.00000000e+00]
 [ 3.78955593e+00]
 [ 2.47811066e-01]
 [-2.35707774e+00]
 [ 0.00000000e+00]
 [-2.66733379e-01]
 [ 0.00000000e+00]
 [-9.83924411e-01]
 [-1.12959213e+00]
 [-1.36492382e+00]
 [ 8.08210705e-01]
 [-1.13275654e+00]
 [-4.71695781e-01]
 [-3.68687009e-01]
 [-1.84485827e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-1.01781345e+00]
 [-8.60252943e-01]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-5.45755132e-01]
 [ 0.00000000e+00]
 [-8.20419325e-01]
 [-6.94306413e-01]
 [ 0.00000000e+00]
 [-1.81664279e+00]
 [-5.65815596e-01]
 [ 0.00000000e+00]
 [-1.29878022e+00]
 [-1.58874853e+00]
 [-2.35707774e+00]
 [ 0.00000000e+00]
 [-2.35707774e+00]
 [-1.79710900e+00]
 [ 0.00000000e+00]
 [ 7.94794349e-01]
 [ 0.00000000e+00]
 [ 2.50683683e+00]
 [ 0.00000000e+00]
 [ 7.16239094e-01]
 [ 6.02136935e-01]
 [ 1.59793566e-01]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-3.18408872e-01]
 [ 5.07372901e-01]
 [-8.20419325e-01]
 [ 0.00000000e+00]
 [-4.63201338e-01]
 [-2.35707774e+00]
 [ 0.00000000e+00]
 [ 5.15692147e-01]
 [ 0.00000000e+00]
 [ 3.17605012e-01]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-2.35707774e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-1.34913400e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-7.10319762e-03]
 [ 2.73473108e-01]
 [ 0.00000000e+00]
 [-3.67661917e-01]
 [ 7.48795416e-02]
 [ 0.00000000e+00]
 [-2.35707774e+00]
 [-1.51011249e+00]
 [ 0.00000000e+00]
 [-1.43953206e+00]
 [-2.35707774e+00]
 [-3.27663632e-02]
 [ 3.09540407e-01]
 [-1.66269790e-01]
 [-5.05243118e-01]
 [-7.66701393e-01]
 [ 0.00000000e+00]
 [-2.35707774e+00]
 [-2.35707774e+00]
 [-2.35707774e+00]
 [ 0.00000000e+00]
 [-2.07903533e-01]
 [-2.35707774e+00]
 [ 0.00000000e+00]
 [ 7.08280881e-01]
 [ 6.18274160e-01]
 [-2.31511626e-01]
 [-1.61673312e-01]
 [-3.25237661e-01]
 [-2.35707774e+00]
 [ 2.78982640e-01]
 [-1.03729452e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 3.78955593e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [ 0.00000000e+00]
 [-2.35707774e+00]
 [ 3.78955593e+00]
 [ 3.95559318e-01]]

In [51]:
for i in range(len(p2_)):
    if a2_[i+378] == 0:
        p2_[i] = 0
        
for i in range(len(p3_)):
    if a2_[i+738] == 0:
        p3_[i] = 0
        
for i in range(len(p4_)):
    if a2_[i+1069] == 0:
        p4_[i] = 0
        
for i in range(len(p5_)):
    if a2_[i+1422] == 0:
        p5_[i] = 0

In [52]:
q1_ = (p1_+1)*100
q2_ = (p2_+1)*100
q3_ = (p3_+1)*100
q4_ = (p4_+1)*100
q5_ = (p5_+1)*100

In [53]:
x7_ = np.append(q1_,q2_)
x7_ = np.append(x7_,q3_)
x7_ = np.append(x7_,q4_)
x7_ = np.append(x7_,q5_)

x7 = pd.DataFrame(x7_)
x7.columns=['wRC+']
x7

            wRC+
0     -45.057950
1      73.479375
2     100.321416
3     106.525628
4      80.446612
...          ...
1716   60.782213
1717  146.547043
1718  100.000000
1719  100.000000
1720  263.491752

[1721 rows x 1 columns]

In [54]:
data_final.columns=['GYEAR','P_ID','PA', 'AB', 'RBI', 'RUN', 'HIT', 'H2', 'H3',
       'HR', 'SB', 'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'ERR']
data_final

,GYEAR,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,SH,SF,BB,IB,HP,KK,GD,ERR
0,2016,60404,52,47,1,3,5,0,0,0,0,2,2,0,3,0,0,12,1,0
1,2016,61102,297,263,47,28,70,7,0,8,0,0,4,6,17,0,7,48,6,5
2,2016,61186,320,276,41,38,81,10,1,6,6,9,6,1,34,0,3,49,3,2
3,2016,62164,137,111,12,18,28,5,0,4,1,0,0,0,25,1,1,37,1,0
4,2016,62700,441,405,57,58,113,21,1,10,5,7,8,1,18,1,9,115,3,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,2020,50357,11,11,0,0,3,1,0,0,0,0,0,0,0,0,0,5,0,1
1717,2020,62864,19,18,5,3,7,0,1,0,0,0,0,0,1,0,0,2,0,0
1718,2020,62146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1719,2020,75342,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1720,2020,50730,8,8,1,0,4,3,0,0,0,0,0,0,0,0,0,1,0,0

In [55]:
data_rate = pd.concat([x,x1],axis=1)
data_rate = pd.concat([data_rate,x2],axis=1)
data_rate = pd.concat([data_rate,x3],axis=1)
data_rate = pd.concat([data_rate,x6],axis=1)
data_rate = pd.concat([data_rate,x5],axis=1)
data_rate = pd.concat([data_rate,x4],axis=1)
data_rate = pd.concat([data_rate,x7],axis=1)

data_final = pd.concat([data_final, data_rate],axis=1)
data_final

,GYEAR,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,...,GD,ERR,BA,SLG,IsoP,RC,wOBA,wRAA,wRC,wRC+
0,2016,60404,52,47,1,3,5,0,0,0,...,1,0,0.106383,0.106383,0.000000,0.655769,0.139220,-10.560219,7.076919,-45.057950
1,2016,61102,297,263,47,28,70,7,0,8,...,6,5,0.266160,0.384030,0.117871,33.315556,0.321270,-11.027276,41.542871,73.479375
2,2016,61186,320,276,41,38,81,10,1,6,...,3,2,0.293478,0.402174,0.108696,42.194625,0.362494,0.143994,44.800450,100.321416
3,2016,62164,137,111,12,18,28,5,0,4,...,1,0,0.252252,0.405405,0.153153,20.124526,0.372022,1.251615,19.189136,106.525628
4,2016,62700,441,405,57,58,113,21,1,10,...,3,19,0.279012,0.409877,0.130864,53.073016,0.331970,-12.072261,61.712625,80.446612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,2020,50357,11,11,0,0,3,1,0,0,...,0,1,0.272727,0.363636,0.090909,1.090909,0.286091,-0.578070,1.421448,60.782213
1717,2020,62864,19,18,5,3,7,0,1,0,...,0,0,0.388889,0.500000,0.111111,3.898947,0.417105,1.185088,2.608373,146.547043
1718,2020,62146,0,0,0,0,0,0,0,0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,-0.000000,-0.303509,100.000000
1719,2020,75342,0,0,0,0,0,0,0,0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,-0.000000,-0.303509,100.000000
1720,2020,50730,8,8,1,0,4,3,0,0,...,0,0,0.500000,0.875000,0.375000,3.500000,0.595750,1.752632,1.291079,263.491752

In [56]:
data_final.to_csv('C:/Users/user/Desktop/ESC_20_2/개인타자_시즌별_정헌.csv')